/* screen - about */

.about .about-HtyxJe {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 24.31%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.36%;
}
.about .about-sZxGbJ {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 44.86%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.36%;
}
.about .cases-HtyxJe {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 29.44%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.43%;
}
.about .cases-sZxGbJ {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 39.79%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.43%;
}
.about .contact-6vJGjJ {
  background-color: transparent;
  color: #ffffff;
  font-family: 'SFPro-Medium', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  height: 14px;
  left: 21.25%;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 57.50%;
}
.about .contact-sZxGbJ {
  background-color: transparent;
  color: #0166cc;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  right: 47.01%;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 3.12%;
}
.about .copyright-2021-nat-sZxGbJ {
  background-color: transparent;
  color: #00000040;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 15.83%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 16.81%;
}
.about .dock-HtyxJe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.about .dock-sZxGbJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.about .feel-free-to-contact-vRTBB9 {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFProDisplay-Medium', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 230px;
  letter-spacing: 0.24px;
  line-height: 27px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 466px;
  white-space: nowrap;
  width: 456px;
}
.about .footer-website-hite-1440px-980-vRTBB9 {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  opacity: 1;
  position: absolute;
  width: 1440px;
}
.about .group-16-p3FchM {
  background-color: transparent;
  height: 76.92%;
  left: 19.23%;
  opacity: 1;
  position: absolute;
  top: 11.54%;
  width: 61.54%;
}
.about .group-2-HtyxJe {
  background-color: transparent;
  cursor: pointer;
  height: 53.85%;
  left: 15.97%;
  opacity: 1;
  position: absolute;
  top: 23.08%;
  width: 5.90%;
}
.about .group-6-HtyxJe {
  background-color: transparent;
  cursor: pointer;
  height: 53.85%;
  opacity: 1;
  position: absolute;
  right: 15.97%;
  top: 23.08%;
  width: 5.56%;
}
.about .group-m7tJVD {
  background-color: transparent;
  height: 92.86%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 3.57%;
  width: 30.59%;
}
.about .group-sZxGbJ {
  background-color: transparent;
  cursor: pointer;
  height: 50.00%;
  opacity: 1;
  position: absolute;
  right: 16.11%;
  top: 25.00%;
  width: 9.58%;
}
.about .header-website-transparent-vRTBB9 {
  background-color: transparent;
  height: 52px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.about .hi-im-nate-vRTBB9 {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFProDisplay-Semibold', Helvetica;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 229px;
  letter-spacing: -0.56px;
  line-height: 68px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 198px;
  white-space: nowrap;
  width: auto;
}
.about .home-HtyxJe {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 34.65%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.36%;
}
.about .home-sZxGbJ {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 34.86%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.29%;
}
.about .im-27-love-the-rem-vRTBB9 {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFProDisplay-Medium', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 230px;
  letter-spacing: 0.24px;
  line-height: 28px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 296px;
  width: 456px;
}
.about .made-with-sketch-P76DU1 {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 0px;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 73.91%;
}
.about .nate-m7tJVD {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFProDisplay-Semibold', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  height: 28px;
  letter-spacing: -0.10px;
  line-height: 28px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 14px);
  white-space: nowrap;
  width: 57.65%;
}
.about .oval-aUaMUB {
  background-color: transparent;
  height: 5px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 6px;
}
.about .oval-bHOxZb {
  background-color: transparent;
  height: 6px;
  left: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 6px;
}
.about .oval-lbDDzJ {
  background-color: transparent;
  height: 5px;
  left: 10px;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 6px;
}
.about .oval-uIp5D3 {
  background-color: transparent;
  height: 400px;
  left: 805px;
  opacity: 1;
  position: absolute;
  top: 137px;
  width: 400px;
}
.about .oval-vRTBB9 {
  background-color: transparent;
  height: 400px;
  left: 810px;
  opacity: 1;
  position: absolute;
  top: 142px;
  width: 400px;
}
.about .oval-xXSFtr {
  background-color: transparent;
  height: 6px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 6px;
}
.about .rectangle-6vJGjJ {
  background-color: #007aff;
  border-radius: 14px;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.about .rectangle-aUaMUB {
  background-color: transparent;
  border: 0.4px solid #ea6c00;
  border-radius: 2.275px;
  height: 95.00%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 2.50%;
  width: 37.50%;
}
.about .rectangle-bHOxZb {
  background-color: #ea6c00;
  border: 0.5px solid #fff7ea;
  border-radius: 2.275px;
  height: 95.00%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 2.50%;
  width: 37.50%;
}
.about .rectangle-p3FchM {
  background-color: #fff7ea;
  border: 0.5px solid #f4bf97;
  border-radius: 6px;
  height: 26px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 26px;
}
.about .rectangle-vRTBB9 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.about .rectangle-xXSFtr {
  background-color: transparent;
  border-radius: 2.275px;
  height: 110.00%;
  left: 31.25%;
  opacity: 1;
  position: absolute;
  top: -5.00%;
  transform: rotate(-35deg);
  width: 37.50%;
}
.about .sketch-logo-2-P76DU1 {
  background-color: transparent;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 18.84%;
}
.about .sketch-mac-icon-bs2x-KgOnXx {
  background-color: transparent;
  height: 26px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 26px;
}
.about .span1-LRwhUq {
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .span1-MLqeo0 {
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .span1-ZlDnnp {
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .span2-LRwhUq {
  color: #ea6c00;
  font-family: 'SFPro-Semibold', Helvetica;
  font-style: normal;
  font-weight: 590;
  letter-spacing: 0.00px;
}
.about .span2-MLqeo0 {
  color: #0166cc;
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .span2-ZlDnnp {
  color: #f68b4c;
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .span3-MLqeo0 {
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .x-dxaJUx {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 48.19%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
.about .x-sZxGbJ {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 38.12%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
.about .x-yWcvkh {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 43.19%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
/* screen - about */

.about .about-HtyxJe {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 24.31%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.36%;
}
.about .about-sZxGbJ {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 44.86%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.36%;
}
.about .cases-HtyxJe {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 29.44%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.43%;
}
.about .cases-sZxGbJ {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 39.79%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.43%;
}
.about .contact-6vJGjJ {
  background-color: transparent;
  color: #ffffff;
  font-family: 'SFPro-Medium', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  height: 14px;
  left: 21.25%;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 57.50%;
}
.about .contact-sZxGbJ {
  background-color: transparent;
  color: #0166cc;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  right: 47.01%;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 3.12%;
}
.about .copyright-2021-nat-sZxGbJ {
  background-color: transparent;
  color: #00000040;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 15.83%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 16.81%;
}
.about .dock-HtyxJe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.about .dock-sZxGbJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.about .feel-free-to-contact-vRTBB9 {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFProDisplay-Medium', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 230px;
  letter-spacing: 0.24px;
  line-height: 27px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 466px;
  white-space: nowrap;
  width: 456px;
}
.about .footer-website-hite-1440px-980-vRTBB9 {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  opacity: 1;
  position: absolute;
  width: 1440px;
}
.about .group-16-p3FchM {
  background-color: transparent;
  height: 76.92%;
  left: 19.23%;
  opacity: 1;
  position: absolute;
  top: 11.54%;
  width: 61.54%;
}
.about .group-2-HtyxJe {
  background-color: transparent;
  cursor: pointer;
  height: 53.85%;
  left: 15.97%;
  opacity: 1;
  position: absolute;
  top: 23.08%;
  width: 5.90%;
}
.about .group-6-HtyxJe {
  background-color: transparent;
  cursor: pointer;
  height: 53.85%;
  opacity: 1;
  position: absolute;
  right: 15.97%;
  top: 23.08%;
  width: 5.56%;
}
.about .group-m7tJVD {
  background-color: transparent;
  height: 92.86%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 3.57%;
  width: 30.59%;
}
.about .group-sZxGbJ {
  background-color: transparent;
  cursor: pointer;
  height: 50.00%;
  opacity: 1;
  position: absolute;
  right: 16.11%;
  top: 25.00%;
  width: 9.58%;
}
.about .header-website-transparent-vRTBB9 {
  background-color: transparent;
  height: 52px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.about .hi-im-nate-vRTBB9 {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFProDisplay-Semibold', Helvetica;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 229px;
  letter-spacing: -0.56px;
  line-height: 68px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 198px;
  white-space: nowrap;
  width: auto;
}
.about .home-HtyxJe {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 34.65%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.36%;
}
.about .home-sZxGbJ {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 34.86%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.29%;
}
.about .im-27-love-the-rem-vRTBB9 {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFProDisplay-Medium', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 230px;
  letter-spacing: 0.24px;
  line-height: 28px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 296px;
  width: 456px;
}
.about .made-with-sketch-P76DU1 {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 0px;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 73.91%;
}
.about .nate-m7tJVD {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFProDisplay-Semibold', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  height: 28px;
  letter-spacing: -0.10px;
  line-height: 28px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 14px);
  white-space: nowrap;
  width: 57.65%;
}
.about .oval-aUaMUB {
  background-color: transparent;
  height: 5px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 6px;
}
.about .oval-bHOxZb {
  background-color: transparent;
  height: 6px;
  left: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 6px;
}
.about .oval-lbDDzJ {
  background-color: transparent;
  height: 5px;
  left: 10px;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 6px;
}
.about .oval-uIp5D3 {
  background-color: transparent;
  height: 400px;
  left: 805px;
  opacity: 1;
  position: absolute;
  top: 137px;
  width: 400px;
}
.about .oval-vRTBB9 {
  background-color: transparent;
  height: 400px;
  left: 810px;
  opacity: 1;
  position: absolute;
  top: 142px;
  width: 400px;
}
.about .oval-xXSFtr {
  background-color: transparent;
  height: 6px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 6px;
}
.about .rectangle-6vJGjJ {
  background-color: #007aff;
  border-radius: 14px;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.about .rectangle-aUaMUB {
  background-color: transparent;
  border: 0.4px solid #ea6c00;
  border-radius: 2.275px;
  height: 95.00%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 2.50%;
  width: 37.50%;
}
.about .rectangle-bHOxZb {
  background-color: #ea6c00;
  border: 0.5px solid #fff7ea;
  border-radius: 2.275px;
  height: 95.00%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 2.50%;
  width: 37.50%;
}
.about .rectangle-p3FchM {
  background-color: #fff7ea;
  border: 0.5px solid #f4bf97;
  border-radius: 6px;
  height: 26px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 26px;
}
.about .rectangle-vRTBB9 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.about .rectangle-xXSFtr {
  background-color: transparent;
  border-radius: 2.275px;
  height: 110.00%;
  left: 31.25%;
  opacity: 1;
  position: absolute;
  top: -5.00%;
  transform: rotate(-35deg);
  width: 37.50%;
}
.about .sketch-logo-2-P76DU1 {
  background-color: transparent;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 18.84%;
}
.about .sketch-mac-icon-bs2x-KgOnXx {
  background-color: transparent;
  height: 26px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 26px;
}
.about .span1-LRwhUq {
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .span1-MLqeo0 {
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .span1-ZlDnnp {
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .span2-LRwhUq {
  color: #ea6c00;
  font-family: 'SFPro-Semibold', Helvetica;
  font-style: normal;
  font-weight: 590;
  letter-spacing: 0.00px;
}
.about .span2-MLqeo0 {
  color: #0166cc;
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .span2-ZlDnnp {
  color: #f68b4c;
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .span3-MLqeo0 {
  font-style: normal;
  letter-spacing: 0.00px;
}
.about .x-dxaJUx {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 48.19%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
.about .x-sZxGbJ {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 38.12%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
.about .x-yWcvkh {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 43.19%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
