/* screen - casesfindinganin */

.casesfindinganin {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 9110px;
  min-width: 1440px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.casesfindinganin .about-FxG3HK {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1057px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .about-yeoDmQ {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 646px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .accessibility-has-t-qMXKHX {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 881px;
  width: 650px;
}
.casesfindinganin .after-a-few-intervie-xbSMUL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 650px;
}
.casesfindinganin .after-synthesizing-e-xbSMUL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 476px;
  width: 650px;
}
.casesfindinganin .age-16-45-highest-db5v3a {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 260px;
  width: 650px;
}
.casesfindinganin .all-and-all-i-think-oLAnDj {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 611px;
  width: 650px;
}
.casesfindinganin .analysis-synthesis-xbSMUL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .as-an-exmaple-here-4BEd0r {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .bite-size-info-xbSMUL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 422px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .cases-FxG3HK {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 982px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .cases-yeoDmQ {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 573px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .contact-EYMKDx {
  background-color: transparent;
  color: var(--science-blue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 73px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .contact-yeoDmQ {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 718px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .contact-z6BQ8k {
  background-color: transparent;
  font-weight: 510;
  height: auto;
  left: 17px;
  letter-spacing: -0.05px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .copyright-2021-nat-yeoDmQ {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 228px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: 242px;
}
.casesfindinganin .dock-FxG3HK {
  background-color: var(--white);
  height: 55px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 1443px;
}
.casesfindinganin .dock-yeoDmQ {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.casesfindinganin .download-case-pdf-63DD5w {
  background-color: transparent;
  color: var(--science-blue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 179px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .during-the-interview-qMXKHX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesfindinganin .end-case-contact-D0g7B8 {
  background-color: transparent;
  height: 100px;
  left: 395px;
  position: absolute;
  top: 8894px;
  width: 650px;
}
.casesfindinganin .finding-an-in-D0g7B8 {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 519px;
  letter-spacing: -0.50px;
  line-height: 68px;
  position: absolute;
  text-align: center;
  top: 243px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .footer-website-hite-1440px-980-D0g7B8 {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  position: absolute;
  width: 1440px;
}
.casesfindinganin .for-this-project-i-Dd8PST {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesfindinganin .for-this-research-i-db5v3a {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesfindinganin .from-this-quick-inte-4BEd0r {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 719px;
  width: 650px;
}
.casesfindinganin .group-0exHem {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 26px;
}
.casesfindinganin .group-10-D0g7B8 {
  background-color: transparent;
  height: 624px;
  left: 395px;
  position: absolute;
  top: 1429px;
  width: 650px;
}
.casesfindinganin .group-115-iZlChA {
  background-color: transparent;
  height: 220px;
  left: 17px;
  position: absolute;
  top: 25px;
  transform: rotate(10deg);
  width: 220px;
}
.casesfindinganin .group-115-imf0ae {
  background-color: transparent;
  height: 220px;
  left: 31px;
  position: absolute;
  top: 31px;
  transform: rotate(20deg);
  width: 220px;
}
.casesfindinganin .group-116-64tPGK {
  background-color: transparent;
  height: 282px;
  left: 607px;
  position: absolute;
  top: 0px;
  width: 282px;
}
.casesfindinganin .group-117-33gOyI {
  background-color: transparent;
  height: 453px;
  left: 22px;
  position: absolute;
  top: 39px;
  transform: rotate(-6deg);
  width: 333px;
}
.casesfindinganin .group-117-GbVxlk {
  background-color: transparent;
  height: 453px;
  left: 53px;
  position: absolute;
  top: 5px;
  transform: rotate(-2deg);
  width: 333px;
}
.casesfindinganin .group-117-jDxltU {
  background-color: transparent;
  height: 453px;
  left: 35px;
  position: absolute;
  top: 18px;
  transform: rotate(-4deg);
  width: 333px;
}
.casesfindinganin .group-125-64tPGK {
  background-color: transparent;
  height: 18px;
  left: 132px;
  position: absolute;
  top: 331px;
  transform: rotate(-2deg);
  width: 247px;
}
.casesfindinganin .group-155-64tPGK {
  background-color: transparent;
  height: 441px;
  left: 785px;
  position: absolute;
  top: 121px;
  transform: rotate(-50deg);
  width: 258px;
}
.casesfindinganin .group-156-64tPGK {
  background-color: transparent;
  height: 508px;
  left: 0px;
  position: absolute;
  top: 360px;
  width: 393px;
}
.casesfindinganin .group-16-Mz5DF7 {
  background-color: transparent;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 16px;
}
.casesfindinganin .group-2-D0g7B8 {
  background-color: transparent;
  height: 800px;
  left: 395px;
  position: absolute;
  top: 5561px;
  width: 650px;
}
.casesfindinganin .group-2-FxG3HK {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 231px;
  position: absolute;
  top: 13px;
  width: 85px;
}
.casesfindinganin .group-3-D0g7B8 {
  background-color: transparent;
  height: 584px;
  left: 395px;
  position: absolute;
  top: 6482px;
  width: 650px;
}
.casesfindinganin .group-4-D0g7B8 {
  background-color: transparent;
  height: 638px;
  left: 395px;
  position: absolute;
  top: 7187px;
  width: 650px;
}
.casesfindinganin .group-5-D0g7B8 {
  background-color: transparent;
  height: 827px;
  left: 395px;
  position: absolute;
  top: 7946px;
  width: 650px;
}
.casesfindinganin .group-6-D0g7B8 {
  background-color: transparent;
  height: 1070px;
  left: 395px;
  position: absolute;
  top: 4370px;
  width: 650px;
}
.casesfindinganin .group-6-FxG3HK {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 1131px;
  position: absolute;
  top: 13px;
  width: 80px;
}
.casesfindinganin .group-7-D0g7B8 {
  background-color: transparent;
  height: 476px;
  left: 395px;
  position: absolute;
  top: 3773px;
  width: 650px;
}
.casesfindinganin .group-8-D0g7B8 {
  background-color: transparent;
  height: 746px;
  left: 395px;
  position: absolute;
  top: 2906px;
  width: 650px;
}
.casesfindinganin .group-9-D0g7B8 {
  background-color: transparent;
  height: 611px;
  left: 395px;
  position: absolute;
  top: 2174px;
  width: 650px;
}
.casesfindinganin .group-D0g7B8 {
  background-color: transparent;
  height: 868px;
  left: 166px;
  position: absolute;
  top: 436px;
  width: 1166px;
}
.casesfindinganin .group-yeoDmQ {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1070px;
  position: absolute;
  top: 13px;
  width: 138px;
}
.casesfindinganin .header-website-white-D0g7B8 {
  background-color: transparent;
  height: 54px;
  position: fixed;
  top: 0px;
  width: 1442px;
}
.casesfindinganin .home-FxG3HK {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 908px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .home-yeoDmQ {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 502px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .i-synthesize-researc-xbSMUL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesfindinganin .i-wanted-to-better-u-yWdVYo {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesfindinganin .impact-a4ocqg {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .in-person-interviews-Dd8PST {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 179px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .interview-example-4BEd0r {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .introduction-63DD5w {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .made-with-sketch-ZJlKWb {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: -1px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .many-pain-points-cam-a4ocqg {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 395px;
  width: 650px;
}
.casesfindinganin .more-than-that-i-wa-a4ocqg {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 530px;
  width: 650px;
}
.casesfindinganin .my-way-of-asking-que-qMXKHX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 233px;
  width: 650px;
}
.casesfindinganin .my-way-of-asking-que-yWdVYo {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  width: 650px;
}
.casesfindinganin .name-noa-green-gend-4BEd0r {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 98px;
  width: 650px;
}
.casesfindinganin .nate-0exHem {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 36px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .next-63DD5w {
  background-color: transparent;
  height: 14px;
  left: 173px;
  position: absolute;
  top: 186px;
  width: 14px;
}
.casesfindinganin .oval-8rMG7e {
  background-color: transparent;
  height: 5px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesfindinganin .oval-FZIiMs {
  background-color: transparent;
  height: 6px;
  left: 10px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.casesfindinganin .oval-MNajSU {
  background-color: transparent;
  height: 254px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 254px;
}
.casesfindinganin .oval-ToFYvd {
  background-color: transparent;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.casesfindinganin .oval-pnllvU {
  background-color: transparent;
  height: 254px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 254px;
}
.casesfindinganin .oval-vtxM6f {
  background-color: transparent;
  height: 5px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesfindinganin .overall-i-held-32-o-Dd8PST {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 449px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .people-actually-used-oLAnDj {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 98px;
  width: 650px;
}
.casesfindinganin .people-want-the-to-o-oLAnDj {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 449px;
  width: 650px;
}
.casesfindinganin .q-how-often-do-y-4BEd0r {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 314px;
  width: 650px;
}
.casesfindinganin .recruitment-took-a-v-oLAnDj {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  width: 650px;
}
.casesfindinganin .rectangle-64tPGK {
  background-color: var(--buttery-white);
  border-radius: 60px;
  height: 761px;
  left: 63px;
  position: absolute;
  top: 61px;
  width: 981px;
}
.casesfindinganin .rectangle-6syDjV {
  background-color: var(--astra);
  border-radius: 5.229365541403958px;
  height: 448px;
  left: 3px;
  position: absolute;
  top: 5px;
  width: 329px;
}
.casesfindinganin .rectangle-7vNEki {
  background-color: var(--astra);
  border-radius: 3px;
  height: 220px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 220px;
}
.casesfindinganin .rectangle-8BUnyC {
  background-color: transparent;
  height: 16px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 246px;
}
.casesfindinganin .rectangle-8X4s2z {
  background-color: var(--astra);
  border-radius: 5.229365541403958px;
  height: 448px;
  left: 3px;
  position: absolute;
  top: 4px;
  width: 329px;
}
.casesfindinganin .rectangle-9Rupfx {
  background-color: transparent;
  border-radius: 3px;
  height: 150px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 190px;
}
.casesfindinganin .rectangle-BXLEMs {
  background-color: transparent;
  border-radius: 5.229365541403958px;
  height: 450px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 330px;
}
.casesfindinganin .rectangle-D0g7B8 {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 2113px;
  width: 650px;
}
.casesfindinganin .rectangle-DV58qd {
  background-color: transparent;
  border-radius: 5.229365541403958px;
  height: 450px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 330px;
}
.casesfindinganin .rectangle-EKKyKr {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 2845px;
  width: 650px;
}
.casesfindinganin .rectangle-FZIiMs {
  background-color: var(--clementine);
  border-radius: 2.275px;
  height: 19px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesfindinganin .rectangle-GCxivY {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 3712px;
  width: 650px;
}
.casesfindinganin .rectangle-MNajSU {
  background-color: var(--astra);
  height: 62px;
  left: 120px;
  position: absolute;
  top: 243px;
  width: 22px;
}
.casesfindinganin .rectangle-Mz5DF7 {
  background-color: var(--buttery-white);
  border-radius: 6px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casesfindinganin .rectangle-Pj18Oa {
  background-color: transparent;
  border-radius: 5.229365541403958px;
  height: 448px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 330px;
}
.casesfindinganin .rectangle-SSMxtW {
  background-color: transparent;
  border-radius: 6.319569120287253px;
  height: 150px;
  left: 110px;
  position: absolute;
  top: 291px;
  width: 43px;
}
.casesfindinganin .rectangle-ToFYvd {
  background-color: transparent;
  border-radius: 2.275px;
  height: 22px;
  left: 5px;
  position: absolute;
  top: -1px;
  transform: rotate(-35deg);
  width: 6px;
}
.casesfindinganin .rectangle-V5yt64 {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 8833px;
  width: 650px;
}
.casesfindinganin .rectangle-a09btA {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 4309px;
  width: 650px;
}
.casesfindinganin .rectangle-dV3qRq {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 6421px;
  width: 650px;
}
.casesfindinganin .rectangle-gkZ8jU {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 7126px;
  width: 650px;
}
.casesfindinganin .rectangle-jxzIxq {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 5500px;
  width: 650px;
}
.casesfindinganin .rectangle-jyjIxJ {
  background-color: transparent;
  border-radius: 6.319569120287253px;
  height: 151px;
  left: 107px;
  position: absolute;
  top: 289px;
  width: 44px;
}
.casesfindinganin .rectangle-mzVJxT {
  background-color: transparent;
  border-radius: 3px;
  height: 150px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 190px;
}
.casesfindinganin .rectangle-pZTuAx {
  background-color: var(--astra);
  border-radius: 5.229365541403958px;
  height: 448px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 329px;
}
.casesfindinganin .rectangle-pnllvU {
  background-color: transparent;
  height: 63px;
  left: 118px;
  position: absolute;
  top: 241px;
  width: 23px;
}
.casesfindinganin .rectangle-vtxM6f {
  background-color: transparent;
  border-radius: 2.275px;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesfindinganin .rectangle-xmVSbM {
  background-color: var(--astra);
  border-radius: 3px;
  height: 220px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 220px;
}
.casesfindinganin .rectangle-xuxaZM {
  background-color: transparent;
  height: 15px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 246px;
}
.casesfindinganin .rectangle-z6BQ8k {
  background-color: var(--azure-radiance);
  border-radius: 14px;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}
.casesfindinganin .rectangle-zQ0Gk7 {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 7885px;
  width: 650px;
}
.casesfindinganin .rectangle-zkA7a1 {
  background-color: transparent;
  height: 15px;
  left: 18px;
  position: absolute;
  top: 0px;
  width: 8px;
}
.casesfindinganin .reflections-oLAnDj {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .research-case-D0g7B8 {
  background-color: transparent;
  font-weight: 590;
  height: auto;
  left: 625px;
  letter-spacing: -0.15px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 202px;
  white-space: nowrap;
  width: auto;
}
.casesfindinganin .since-the-team-would-Dd8PST {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 503px;
  width: 650px;
}
.casesfindinganin .sketch-logo-2-ZJlKWb {
  background-color: transparent;
  height: 26px;
  left: 112px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casesfindinganin .sketch-mac-icon-bs2x-7bK0Gn {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casesfindinganin .so-what-went-well-oLAnDj {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .some-major-pain-poin-qMXKHX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 827px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .some-of-the-question-qMXKHX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 449px;
  width: 650px;
}
.casesfindinganin .some-of-the-question-yWdVYo {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 503px;
  width: 650px;
}
.casesfindinganin .span1-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span1-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span1-SzaVji {
  letter-spacing: 0.00px;
}
.casesfindinganin .span1-YBJv09 {
  letter-spacing: 0.00px;
}
.casesfindinganin .span10-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span10-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span11-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span11-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span12-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span12-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span13-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span13-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span14-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span14-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span2-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span2-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span2-SzaVji {
  letter-spacing: 0.00px;
}
.casesfindinganin .span2-YBJv09 {
  letter-spacing: 0.00px;
}
.casesfindinganin .span3-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span3-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span3-YBJv09 {
  letter-spacing: 0.00px;
}
.casesfindinganin .span4-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span4-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span4-YBJv09 {
  letter-spacing: 0.00px;
}
.casesfindinganin .span5-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span5-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span5-YBJv09 {
  letter-spacing: 0.00px;
}
.casesfindinganin .span6-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span6-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span6-YBJv09 {
  letter-spacing: 0.00px;
}
.casesfindinganin .span7-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span7-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span7-YBJv09 {
  letter-spacing: 0.00px;
}
.casesfindinganin .span8-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span8-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .span8-YBJv09 {
  letter-spacing: 0.00px;
}
.casesfindinganin .span9-JfLO8Z {
  letter-spacing: 0.00px;
}
.casesfindinganin .span9-Q3CaSP {
  letter-spacing: 0.00px;
}
.casesfindinganin .thanks-for-reading-EYMKDx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .the-board-choose-to-oLAnDj {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 719px;
  width: 650px;
}
.casesfindinganin .the-comapny-approach-a4ocqg {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  width: 650px;
}
.casesfindinganin .the-first-10-minutes-Dd8PST {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 233px;
  width: 650px;
}
.casesfindinganin .the-is-my-solo-resea-63DD5w {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesfindinganin .the-reason-i-did-thi-xbSMUL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 341px;
  width: 650px;
}
.casesfindinganin .the-research-goals-yWdVYo {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .the-research-had-com-63DD5w {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 233px;
  width: 650px;
}
.casesfindinganin .the-research-methodo-Dd8PST {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .this-research-helped-a4ocqg {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesfindinganin .tools-for-recruitmen-db5v3a {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 395px;
  width: 650px;
}
.casesfindinganin .usability-tests-qMXKHX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .user-recruitment-db5v3a {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .what-about-the-chall-oLAnDj {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 233px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .what-i-validated-oLAnDj {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 395px;
  white-space: nowrap;
  width: 650px;
}
.casesfindinganin .what-were-the-goals-yWdVYo {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 125px;
  width: 650px;
}
.casesfindinganin .when-it-came-to-the-qMXKHX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 719px;
  width: 650px;
}
.casesfindinganin .x-fKrkZx {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 692px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casesfindinganin .x-mZeLsm {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 620px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casesfindinganin .x-yeoDmQ {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 547px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casesfindinganin .x1-reseach-methodolo-63DD5w {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 368px;
  width: 650px;
}
.casesfindinganin .you-are-welcome-to-c-EYMKDx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 37px;
  white-space: nowrap;
  width: 650px;
}
