/* screen - casesphoneaddiction */

.casesphoneaddiction {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 7800px;
  min-width: 1440px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.casesphoneaddiction .a-kid-can-get-addic-Lbyonr {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 260px;
  width: 650px;
}
.casesphoneaddiction .a-new-objective-G8V9tH {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .a-tirp-back-in-time-KqKcAS {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .about-XRbJ09 {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1057px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .about-xipgxh {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 646px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .addiction-is-a-very-7dmsuk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 368px;
  width: 650px;
}
.casesphoneaddiction .adult-females-age-1-KqKcAS {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 827px;
  width: 650px;
}
.casesphoneaddiction .adult-males-age-14-KqKcAS {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 422px;
  width: 650px;
}
.casesphoneaddiction .although-is-seems-li-xwx6Hm {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 650px;
}
.casesphoneaddiction .as-you-can-see-thes-KqKcAS {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1124px;
  width: 650px;
}
.casesphoneaddiction .behavior-psychology-RPixh6 {
  background-color: transparent;
  font-weight: 590;
  height: auto;
  left: 548px;
  letter-spacing: -0.15px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 202px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .cases-XRbJ09 {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 982px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .cases-xipgxh {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 573px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .combined-shape-2ia0Rp {
  background-color: transparent;
  height: 61px;
  left: 668px;
  opacity: 0.8;
  position: absolute;
  top: 337px;
  transform: rotate(20deg);
  width: 70px;
}
.casesphoneaddiction .combined-shape-3xj1NZ {
  background-color: transparent;
  height: 60px;
  left: 591px;
  opacity: 0.8;
  position: absolute;
  top: 268px;
  transform: rotate(-20deg);
  width: 70px;
}
.casesphoneaddiction .combined-shape-7jxL41 {
  background-color: transparent;
  height: 100px;
  left: 680px;
  opacity: 0.4;
  position: absolute;
  top: 50px;
  transform: rotate(30deg);
  width: 118px;
}
.casesphoneaddiction .combined-shape-AMUXMB {
  background-color: transparent;
  height: 81px;
  left: 686px;
  opacity: 0.6;
  position: absolute;
  top: 206px;
  transform: rotate(-20deg);
  width: 94px;
}
.casesphoneaddiction .combined-shape-AgE5P3 {
  background-color: transparent;
  height: 60px;
  left: 249px;
  opacity: 0.8;
  position: absolute;
  top: 383px;
  transform: rotate(-20deg);
  width: 70px;
}
.casesphoneaddiction .combined-shape-DroH3Q {
  background-color: transparent;
  height: 80px;
  left: 541px;
  opacity: 0.6;
  position: absolute;
  top: 154px;
  transform: rotate(20deg);
  width: 94px;
}
.casesphoneaddiction .combined-shape-ESXCyE {
  background-color: transparent;
  height: 383px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 211px;
}
.casesphoneaddiction .combined-shape-EknrjE {
  background-color: transparent;
  height: 60px;
  left: 344px;
  opacity: 0.8;
  position: absolute;
  top: 280px;
  transform: rotate(20deg);
  width: 70px;
}
.casesphoneaddiction .combined-shape-Ja0p9O {
  background-color: transparent;
  height: 60px;
  left: 673px;
  opacity: 0.8;
  position: absolute;
  top: 342px;
  transform: rotate(20deg);
  width: 70px;
}
.casesphoneaddiction .combined-shape-Mnz5oY {
  background-color: transparent;
  height: 383px;
  left: 6px;
  position: absolute;
  top: 7px;
  width: 212px;
}
.casesphoneaddiction .combined-shape-Mpp85V {
  background-color: transparent;
  height: 51px;
  left: 549px;
  position: absolute;
  top: 358px;
  transform: rotate(-10deg);
  width: 58px;
}
.casesphoneaddiction .combined-shape-Mv1WpS {
  background-color: transparent;
  height: 50px;
  left: 374px;
  position: absolute;
  top: 408px;
  transform: rotate(20deg);
  width: 58px;
}
.casesphoneaddiction .combined-shape-OcFwuw {
  background-color: transparent;
  height: 51px;
  left: 369px;
  position: absolute;
  top: 403px;
  transform: rotate(20deg);
  width: 58px;
}
.casesphoneaddiction .combined-shape-VDVRFl {
  background-color: transparent;
  height: 81px;
  left: 327px;
  opacity: 0.6;
  position: absolute;
  top: 148px;
  transform: rotate(-20deg);
  width: 94px;
}
.casesphoneaddiction .combined-shape-VfzVDc {
  background-color: transparent;
  height: 51px;
  left: 592px;
  position: absolute;
  top: 454px;
  transform: rotate(20deg);
  width: 58px;
}
.casesphoneaddiction .combined-shape-XqMYGa {
  background-color: transparent;
  height: 50px;
  left: 597px;
  position: absolute;
  top: 459px;
  transform: rotate(20deg);
  width: 58px;
}
.casesphoneaddiction .combined-shape-Xqr0x8 {
  background-color: transparent;
  height: 61px;
  left: 586px;
  opacity: 0.8;
  position: absolute;
  top: 263px;
  transform: rotate(-20deg);
  width: 70px;
}
.casesphoneaddiction .combined-shape-cHSzX8 {
  background-color: transparent;
  height: 80px;
  left: 691px;
  opacity: 0.6;
  position: absolute;
  top: 211px;
  transform: rotate(-20deg);
  width: 94px;
}
.casesphoneaddiction .combined-shape-cwFxTn {
  background-color: transparent;
  height: 50px;
  left: 344px;
  position: absolute;
  top: 495px;
  transform: rotate(-10deg);
  width: 58px;
}
.casesphoneaddiction .combined-shape-e2DtxQ {
  background-color: transparent;
  height: 81px;
  left: 536px;
  opacity: 0.6;
  position: absolute;
  top: 149px;
  transform: rotate(20deg);
  width: 94px;
}
.casesphoneaddiction .combined-shape-fm26rc {
  background-color: transparent;
  height: 80px;
  left: 190px;
  opacity: 0.6;
  position: absolute;
  top: 236px;
  transform: rotate(-20deg);
  width: 94px;
}
.casesphoneaddiction .combined-shape-k068pH {
  background-color: transparent;
  height: 51px;
  left: 339px;
  position: absolute;
  top: 490px;
  transform: rotate(-10deg);
  width: 58px;
}
.casesphoneaddiction .combined-shape-kDpNfm {
  background-color: transparent;
  height: 61px;
  left: 244px;
  opacity: 0.8;
  position: absolute;
  top: 378px;
  transform: rotate(-20deg);
  width: 70px;
}
.casesphoneaddiction .combined-shape-kYNAfz {
  background-color: transparent;
  height: 101px;
  left: 675px;
  opacity: 0.4;
  position: absolute;
  top: 45px;
  transform: rotate(30deg);
  width: 118px;
}
.casesphoneaddiction .combined-shape-kc6xrF {
  background-color: transparent;
  height: 81px;
  left: 185px;
  opacity: 0.6;
  position: absolute;
  top: 231px;
  transform: rotate(-20deg);
  width: 94px;
}
.casesphoneaddiction .combined-shape-pWr10G {
  background-color: transparent;
  height: 80px;
  left: 332px;
  opacity: 0.6;
  position: absolute;
  top: 153px;
  transform: rotate(-20deg);
  width: 94px;
}
.casesphoneaddiction .combined-shape-qSetGh {
  background-color: transparent;
  height: 50px;
  left: 554px;
  position: absolute;
  top: 363px;
  transform: rotate(-10deg);
  width: 58px;
}
.casesphoneaddiction .combined-shape-spvbut {
  background-color: transparent;
  height: 61px;
  left: 339px;
  opacity: 0.8;
  position: absolute;
  top: 275px;
  transform: rotate(20deg);
  width: 70px;
}
.casesphoneaddiction .combined-shape-uxqDCm {
  background-color: transparent;
  height: 101px;
  left: 236px;
  opacity: 0.4;
  position: absolute;
  top: 39px;
  transform: rotate(-20deg);
  width: 118px;
}
.casesphoneaddiction .combined-shape-wLGPx6 {
  background-color: transparent;
  height: 100px;
  left: 518px;
  opacity: 0.4;
  position: absolute;
  top: 14px;
  transform: rotate(10deg);
  width: 118px;
}
.casesphoneaddiction .combined-shape-yfkEbN {
  background-color: transparent;
  height: 100px;
  left: 241px;
  opacity: 0.4;
  position: absolute;
  top: 44px;
  transform: rotate(-20deg);
  width: 118px;
}
.casesphoneaddiction .combined-shape-yqGfFB {
  background-color: transparent;
  height: 101px;
  left: 513px;
  opacity: 0.4;
  position: absolute;
  top: 9px;
  transform: rotate(10deg);
  width: 118px;
}
.casesphoneaddiction .contact-ixEuLC {
  background-color: transparent;
  font-weight: 510;
  height: auto;
  left: 17px;
  letter-spacing: -0.05px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .contact-sgGwM7 {
  background-color: transparent;
  color: var(--science-blue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 73px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .contact-xipgxh {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 718px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .copyright-2021-nat-xipgxh {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 228px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: 242px;
}
.casesphoneaddiction .dock-XRbJ09 {
  background-color: var(--white);
  height: 55px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 1443px;
}
.casesphoneaddiction .dock-xipgxh {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.casesphoneaddiction .download-case-pdf-RlQxxM {
  background-color: transparent;
  color: var(--science-blue);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .end-case-contact-RPixh6 {
  background-color: transparent;
  height: 100px;
  left: 395px;
  position: absolute;
  top: 7579px;
  width: 650px;
}
.casesphoneaddiction .every-parent-want-th-G8V9tH {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesphoneaddiction .every-year-more-and-xwx6Hm {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesphoneaddiction .first-lets-define-ad-7dmsuk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 314px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .footer-website-hite-1440px-980-RPixh6 {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  position: absolute;
  width: 1440px;
}
.casesphoneaddiction .group-10-idU3GF {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 260px;
  width: 187px;
}
.casesphoneaddiction .group-153-cwFxTn {
  background-color: transparent;
  height: 403px;
  left: 374px;
  position: absolute;
  top: 487px;
  transform: rotate(20deg);
  width: 230px;
}
.casesphoneaddiction .group-154-RPixh6 {
  background-color: transparent;
  height: 916px;
  left: 230px;
  position: absolute;
  top: 436px;
  width: 980px;
}
.casesphoneaddiction .group-16-N06HBR {
  background-color: transparent;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 16px;
}
.casesphoneaddiction .group-19-ESXCyE {
  background-color: transparent;
  height: 397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 224px;
}
.casesphoneaddiction .group-2-RPixh6 {
  background-color: transparent;
  height: 395px;
  left: 395px;
  position: absolute;
  top: 6466px;
  width: 650px;
}
.casesphoneaddiction .group-2-XRbJ09 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 231px;
  position: absolute;
  top: 13px;
  width: 85px;
}
.casesphoneaddiction .group-3-RPixh6 {
  background-color: transparent;
  height: 341px;
  left: 395px;
  position: absolute;
  top: 6004px;
  width: 650px;
}
.casesphoneaddiction .group-4-RPixh6 {
  background-color: transparent;
  height: 584px;
  left: 395px;
  position: absolute;
  top: 5299px;
  width: 650px;
}
.casesphoneaddiction .group-5-RPixh6 {
  background-color: transparent;
  height: 827px;
  left: 395px;
  position: absolute;
  top: 4351px;
  width: 650px;
}
.casesphoneaddiction .group-6-RPixh6 {
  background-color: transparent;
  height: 584px;
  left: 395px;
  position: absolute;
  top: 3646px;
  width: 650px;
}
.casesphoneaddiction .group-6-XRbJ09 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 1131px;
  position: absolute;
  top: 13px;
  width: 80px;
}
.casesphoneaddiction .group-7-RPixh6 {
  background-color: transparent;
  height: 1259px;
  left: 395px;
  position: absolute;
  top: 2266px;
  width: 650px;
}
.casesphoneaddiction .group-8-RPixh6 {
  background-color: transparent;
  height: 287px;
  left: 395px;
  position: absolute;
  top: 1477px;
  width: 650px;
}
.casesphoneaddiction .group-9-RPixh6 {
  background-color: transparent;
  height: 260px;
  left: 395px;
  position: absolute;
  top: 1885px;
  width: 650px;
}
.casesphoneaddiction .group-RPixh6 {
  background-color: transparent;
  height: 476px;
  left: 395px;
  position: absolute;
  top: 6982px;
  width: 650px;
}
.casesphoneaddiction .group-Sd1Tuv {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 26px;
}
.casesphoneaddiction .group-xipgxh {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1070px;
  position: absolute;
  top: 13px;
  width: 138px;
}
.casesphoneaddiction .header-website-white-RPixh6 {
  background-color: transparent;
  height: 54px;
  position: fixed;
  top: 0px;
  width: 1442px;
}
.casesphoneaddiction .home-XRbJ09 {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 908px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .home-xipgxh {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 502px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .i-offer-the-client-w-G8V9tH {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 152px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .i-take-pride-in-unde-N8CYmr {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 341px;
  width: 650px;
}
.casesphoneaddiction .i-was-so-impressed-N8CYmr {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 650px;
}
.casesphoneaddiction .in-response-for-cryi-Lbyonr {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 395px;
  width: 650px;
}
.casesphoneaddiction .infant-females-age-KqKcAS {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 638px;
  width: 650px;
}
.casesphoneaddiction .infant-males-age-0-KqKcAS {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 233px;
  width: 650px;
}
.casesphoneaddiction .introduction-idU3GF {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .it-doesnt-take-a-ge-cixXQc {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesphoneaddiction .it-just-so-happen-th-7dmsuk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 692px;
  width: 650px;
}
.casesphoneaddiction .its-loneliness-Lfq0kL {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 233px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .kids-are-not-addict-Lfq0kL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesphoneaddiction .kids-are-not-addicte-7dmsuk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 530px;
  width: 650px;
}
.casesphoneaddiction .kids-experience-lone-7dmsuk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesphoneaddiction .kids-phone-addiction-RPixh6 {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 423px;
  letter-spacing: -0.50px;
  line-height: 68px;
  position: absolute;
  text-align: center;
  top: 243px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .know-your-kids-know-Lfq0kL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .loneliness-is-sky-ro-xwx6Hm {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 260px;
  width: 650px;
}
.casesphoneaddiction .looking-at-the-daily-KqKcAS {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 152px;
  width: 650px;
}
.casesphoneaddiction .made-with-sketch-cMpN2F {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: -1px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .nate-Sd1Tuv {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 36px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casesphoneaddiction .next-RlQxxM {
  background-color: transparent;
  height: 14px;
  left: 173px;
  position: absolute;
  top: 7px;
  width: 14px;
}
.casesphoneaddiction .now-days-kids-dont-7dmsuk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 152px;
  width: 650px;
}
.casesphoneaddiction .old-females-age-40-KqKcAS {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 935px;
  width: 650px;
}
.casesphoneaddiction .old-males-age-40-de-KqKcAS {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 530px;
  width: 650px;
}
.casesphoneaddiction .oval-E0whMX {
  background-color: transparent;
  height: 5px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesphoneaddiction .oval-koxa7F {
  background-color: transparent;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.casesphoneaddiction .oval-mgxXNY {
  background-color: transparent;
  height: 5px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesphoneaddiction .oval-xFyy1d {
  background-color: transparent;
  height: 6px;
  left: 10px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.casesphoneaddiction .people-feel-lonely-Lfq0kL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  width: 650px;
}
.casesphoneaddiction .put-your-phone-down-Lfq0kL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 449px;
  width: 650px;
}
.casesphoneaddiction .rectangle-3xj1NZ {
  background-color: var(--salomie);
  border-radius: 4px;
  height: 34px;
  left: 487px;
  position: absolute;
  top: 424px;
  width: 8px;
}
.casesphoneaddiction .rectangle-7jxL41 {
  background-color: transparent;
  border-radius: 8px;
  height: 67px;
  left: 468px;
  position: absolute;
  top: 115px;
  width: 46px;
}
.casesphoneaddiction .rectangle-94vtqL {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 5943px;
  width: 650px;
}
.casesphoneaddiction .rectangle-AgE5P3 {
  background-color: transparent;
  border-radius: 11px;
  height: 60px;
  left: 473px;
  position: absolute;
  top: 377px;
  width: 41px;
}
.casesphoneaddiction .rectangle-DroH3Q {
  background-color: var(--salomie);
  border-radius: 4px;
  height: 34px;
  left: 483px;
  position: absolute;
  top: 294px;
  width: 8px;
}
.casesphoneaddiction .rectangle-E0whMX {
  background-color: transparent;
  border-radius: 2.275px;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesphoneaddiction .rectangle-EN0ppd {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 6921px;
  width: 650px;
}
.casesphoneaddiction .rectangle-ESXCyE {
  background-color: transparent;
  border-radius: 34.36932292433838px;
  height: 392px;
  left: 9px;
  position: absolute;
  top: 10px;
  width: 221px;
}
.casesphoneaddiction .rectangle-EknrjE {
  background-color: var(--salomie);
  border-radius: 4px;
  height: 34px;
  left: 485px;
  position: absolute;
  top: 360px;
  width: 8px;
}
.casesphoneaddiction .rectangle-FoT0It {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 7518px;
  width: 650px;
}
.casesphoneaddiction .rectangle-Ho05xx {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 2205px;
  width: 650px;
}
.casesphoneaddiction .rectangle-Ja0p9O {
  background-color: transparent;
  border-radius: 8px;
  height: 67px;
  left: 460px;
  position: absolute;
  top: 310px;
  width: 46px;
}
.casesphoneaddiction .rectangle-Lw5nGp {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 6405px;
  width: 650px;
}
.casesphoneaddiction .rectangle-Mnz5oY {
  background-color: transparent;
  border: 1.5px solid var(--clementine);
  border-radius: 34.36932292433838px;
  height: 400px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 227px;
}
.casesphoneaddiction .rectangle-Mpp85V {
  background-color: var(--salomie);
  border-radius: 4px;
  height: 34px;
  left: 483px;
  position: absolute;
  top: 165px;
  width: 8px;
}
.casesphoneaddiction .rectangle-Mv1WpS {
  background-color: transparent;
  border-radius: 8px;
  height: 67px;
  left: 472px;
  position: absolute;
  top: 375px;
  width: 46px;
}
.casesphoneaddiction .rectangle-N06HBR {
  background-color: var(--buttery-white);
  border-radius: 6px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casesphoneaddiction .rectangle-OcFwuw {
  background-color: var(--salomie);
  border-radius: 4px;
  height: 34px;
  left: 489px;
  position: absolute;
  top: 100px;
  width: 8px;
}
.casesphoneaddiction .rectangle-RPixh6 {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 1824px;
  width: 650px;
}
.casesphoneaddiction .rectangle-VfzVDc {
  background-color: var(--salomie);
  border-radius: 4px;
  height: 34px;
  left: 481px;
  position: absolute;
  top: 228px;
  width: 8px;
}
.casesphoneaddiction .rectangle-Xo3fJv {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 4290px;
  width: 650px;
}
.casesphoneaddiction .rectangle-XqMYGa {
  background-color: transparent;
  border-radius: 11px;
  height: 60px;
  left: 465px;
  position: absolute;
  top: 442px;
  width: 41px;
}
.casesphoneaddiction .rectangle-ZDSXMR {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 5238px;
  width: 650px;
}
.casesphoneaddiction .rectangle-cHSzX8 {
  background-color: transparent;
  border-radius: 11px;
  height: 60px;
  left: 469px;
  position: absolute;
  top: 247px;
  width: 41px;
}
.casesphoneaddiction .rectangle-cwFxTn {
  background-color: var(--buttery-white);
  border-radius: 60px;
  height: 761px;
  left: 0px;
  position: absolute;
  top: 78px;
  width: 980px;
}
.casesphoneaddiction .rectangle-fe77xb {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 3585px;
  width: 650px;
}
.casesphoneaddiction .rectangle-fm26rc {
  background-color: transparent;
  border-radius: 11px;
  height: 60px;
  left: 461px;
  position: absolute;
  top: 312px;
  width: 41px;
}
.casesphoneaddiction .rectangle-ixEuLC {
  background-color: var(--azure-radiance);
  border-radius: 14px;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}
.casesphoneaddiction .rectangle-k068pH {
  background-color: transparent;
  border-radius: 11px;
  height: 60px;
  left: 469px;
  position: absolute;
  top: 117px;
  width: 41px;
}
.casesphoneaddiction .rectangle-koxa7F {
  background-color: transparent;
  border-radius: 2.275px;
  height: 22px;
  left: 5px;
  position: absolute;
  top: -1px;
  transform: rotate(-35deg);
  width: 6px;
}
.casesphoneaddiction .rectangle-pWr10G {
  background-color: transparent;
  border-radius: 8px;
  height: 67px;
  left: 468px;
  position: absolute;
  top: 245px;
  width: 46px;
}
.casesphoneaddiction .rectangle-qSetGh {
  background-color: transparent;
  border-radius: 8px;
  height: 67px;
  left: 464px;
  position: absolute;
  top: 440px;
  width: 46px;
}
.casesphoneaddiction .rectangle-wLGPx6 {
  background-color: transparent;
  border-radius: 8px;
  height: 67px;
  left: 458px;
  position: absolute;
  top: 180px;
  width: 46px;
}
.casesphoneaddiction .rectangle-xFyy1d {
  background-color: var(--clementine);
  border-radius: 2.275px;
  height: 19px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesphoneaddiction .rectangle-yfkEbN {
  background-color: transparent;
  border-radius: 11px;
  height: 60px;
  left: 459px;
  position: absolute;
  top: 182px;
  width: 41px;
}
.casesphoneaddiction .sketch-logo-2-cMpN2F {
  background-color: transparent;
  height: 26px;
  left: 112px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casesphoneaddiction .sketch-mac-icon-bs2x-SKKuba {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casesphoneaddiction .so-we-figured-out-th-Lbyonr {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesphoneaddiction .so-why-did-i-choose-N8CYmr {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .social-addiction-7dmsuk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .span1-1xkHbe {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-6LAdrJ {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-9kWZXG {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-F0kJks {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-FNxTFc {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-LiIaLK {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-S5qf91 {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-SQNxXb {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-SY7r1u {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-SiWflO {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-Sxv6cG {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-UB1FVS {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span1-fuOT64 {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-1xkHbe {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-6LAdrJ {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-9kWZXG {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-F0kJks {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-FNxTFc {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-LiIaLK {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-S5qf91 {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-SQNxXb {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-SY7r1u {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-SiWflO {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-Sxv6cG {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-UB1FVS {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span2-fuOT64 {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span3-S5qf91 {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span3-SQNxXb {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span3-fuOT64 {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span4-fuOT64 {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span5-fuOT64 {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .span6-fuOT64 {
  letter-spacing: 0.00px;
}
.casesphoneaddiction .sports-school-open-G8V9tH {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 206px;
  width: 650px;
}
.casesphoneaddiction .thanks-for-reading-sgGwM7 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .the-reward-system-Lbyonr {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .the-reward-system-i-Lbyonr {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 530px;
  width: 650px;
}
.casesphoneaddiction .the-was-reluctant-to-G8V9tH {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 314px;
  width: 650px;
}
.casesphoneaddiction .thinking-you-can-cre-cixXQc {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 152px;
  width: 650px;
}
.casesphoneaddiction .this-solo-case-study-idU3GF {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesphoneaddiction .understanding-people-cixXQc {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .united-state-of-kids-xwx6Hm {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .x-L4LYUJ {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 692px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casesphoneaddiction .x-cwFxTn {
  background-color: transparent;
  height: 34px;
  left: 477px;
  position: absolute;
  top: 79px;
  width: 34px;
}
.casesphoneaddiction .x-qSetGh {
  background-color: transparent;
  height: 35px;
  left: 475px;
  position: absolute;
  top: 80px;
  width: 34px;
}
.casesphoneaddiction .x-xipgxh {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 547px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casesphoneaddiction .x-xzxLVh {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 620px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casesphoneaddiction .x6-million-years-ago-KqKcAS {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesphoneaddiction .x8-month-later-N8CYmr {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .x8-months-after-meeti-N8CYmr {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesphoneaddiction .you-are-welcome-to-c-sgGwM7 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 37px;
  white-space: nowrap;
  width: 650px;
}
.casesphoneaddiction .young-females-age-3-KqKcAS {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 719px;
  width: 650px;
}
.casesphoneaddiction .young-males-age-3-1-KqKcAS {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 314px;
  width: 650px;
}
