/* screen - casessketch */

.casessketch {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 15120px;
  min-width: 1440px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.casessketch .a-great-vision-is-a-8dsmJN {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .about-aqkYUu {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1057px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casessketch .about-gp1wEv {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 646px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casessketch .all-of-that-said-mo-gih6E6 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 800px;
  width: 650px;
}
.casessketch .and-above-all-conti-75Vz0c {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .another-way-to-solve-jkgEIe {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1164px;
  width: 650px;
}
.casessketch .as-i-mentioned-previ-zyNqkX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 650px;
}
.casessketch .awareness-i-use-ske-hOx3xR {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 422px;
  width: 650px;
}
.casessketch .cases-aqkYUu {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 982px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casessketch .cases-gp1wEv {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 573px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casessketch .contact-e6h9Jh {
  background-color: transparent;
  color: var(--science-blue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 73px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .contact-gp1wEv {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 718px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casessketch .contact-x4D1Ff {
  background-color: transparent;
  font-weight: 510;
  height: auto;
  left: 17px;
  letter-spacing: -0.05px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: auto;
}
.casessketch .copyright-2021-nat-gp1wEv {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 228px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: 242px;
}
.casessketch .datalog-im-not-a-d-gih6E6 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 989px;
  width: 650px;
}
.casessketch .discover-your-new-be-JrLznO {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .dock-aqkYUu {
  background-color: var(--white);
  height: 55px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 1443px;
}
.casessketch .dock-gp1wEv {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.casessketch .download-case-pdf-TLXR8q {
  background-color: transparent;
  color: var(--science-blue);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casessketch .end-case-contact-IuY7ZM {
  background-color: transparent;
  height: 100px;
  left: 395px;
  position: absolute;
  top: 14911px;
  width: 650px;
}
.casessketch .every-person-wants-t-hOx3xR {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 260px;
  width: 650px;
}
.casessketch .example-some-poeple-HW5p1U {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 422px;
  width: 650px;
}
.casessketch .footer-website-hite-1440px-980-IuY7ZM {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  position: absolute;
  width: 1440px;
}
.casessketch .for-example-contrar-JrLznO {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 395px;
  width: 650px;
}
.casessketch .for-example-lets-s-NMfKuz {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 152px;
  width: 650px;
}
.casessketch .from-interviewing-14-jkgEIe {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 368px;
  width: 650px;
}
.casessketch .from-my-basic-resear-JrLznO {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 98px;
  width: 650px;
}
.casessketch .from-the-words-of-si-8dsmJN {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1124px;
  width: 650px;
}
.casessketch .getting-people-to-in-HW5p1U {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 206px;
  width: 650px;
}
.casessketch .group-10-2xGyxi {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 314px;
  width: 187px;
}
.casessketch .group-10-IuY7ZM {
  background-color: transparent;
  height: 1267px;
  left: 395px;
  position: absolute;
  top: 4943px;
  width: 650px;
}
.casessketch .group-11-IuY7ZM {
  background-color: transparent;
  height: 1299px;
  left: 395px;
  position: absolute;
  top: 3523px;
  width: 650px;
}
.casessketch .group-12-IuY7ZM {
  background-color: transparent;
  height: 1340px;
  left: 395px;
  position: absolute;
  top: 2062px;
  width: 650px;
}
.casessketch .group-13-IuY7ZM {
  background-color: transparent;
  height: 496px;
  left: 395px;
  position: absolute;
  top: 1445px;
  width: 650px;
}
.casessketch .group-16-nwPVqu {
  background-color: transparent;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 16px;
}
.casessketch .group-2-IuY7ZM {
  background-color: transparent;
  height: 395px;
  left: 395px;
  position: absolute;
  top: 14395px;
  width: 650px;
}
.casessketch .group-2-aqkYUu {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 231px;
  position: absolute;
  top: 13px;
  width: 85px;
}
.casessketch .group-3-IuY7ZM {
  background-color: transparent;
  height: 1313px;
  left: 395px;
  position: absolute;
  top: 12961px;
  width: 650px;
}
.casessketch .group-5-IuY7ZM {
  background-color: transparent;
  height: 827px;
  left: 395px;
  position: absolute;
  top: 12013px;
  width: 650px;
}
.casessketch .group-6-IuY7ZM {
  background-color: transparent;
  height: 1421px;
  left: 395px;
  position: absolute;
  top: 10471px;
  width: 650px;
}
.casessketch .group-6-aqkYUu {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 1131px;
  position: absolute;
  top: 13px;
  width: 80px;
}
.casessketch .group-7-IuY7ZM {
  background-color: transparent;
  height: 1610px;
  left: 395px;
  position: absolute;
  top: 8740px;
  width: 650px;
}
.casessketch .group-8-IuY7ZM {
  background-color: transparent;
  height: 1448px;
  left: 395px;
  position: absolute;
  top: 7171px;
  width: 650px;
}
.casessketch .group-9-IuY7ZM {
  background-color: transparent;
  height: 719px;
  left: 395px;
  position: absolute;
  top: 6331px;
  width: 650px;
}
.casessketch .group-IuY7ZM {
  background-color: transparent;
  height: 884px;
  left: 173px;
  position: absolute;
  top: 436px;
  width: 1123px;
}
.casessketch .group-gp1wEv {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1070px;
  position: absolute;
  top: 13px;
  width: 138px;
}
.casessketch .group-n7W2x5 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 26px;
}
.casessketch .header-website-white-IuY7ZM {
  background-color: transparent;
  height: 54px;
  position: fixed;
  top: 0px;
  width: 1442px;
}
.casessketch .home-aqkYUu {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 908px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casessketch .home-gp1wEv {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 502px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casessketch .i-believe-that-by-ad-JrLznO {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1213px;
  width: 650px;
}
.casessketch .i-believe-that-by-ch-8dsmJN {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1232px;
  width: 650px;
}
.casessketch .i-honestly-believe-t-gih6E6 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1367px;
  width: 650px;
}
.casessketch .i-know-that-not-eve-Y9tLMJ {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1286px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .i-see-sketch-as-a-we-jkgEIe {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 827px;
  width: 650px;
}
.casessketch .i-want-to-see-amazin-zyNqkX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 638px;
  width: 650px;
}
.casessketch .i-will-be-honest-in-Y9tLMJ {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casessketch .i-would-love-to-be-75Vz0c {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 341px;
  width: 650px;
}
.casessketch .im-a-big-fan-of-ske-8dsmJN {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 476px;
  width: 650px;
}
.casessketch .im-sure-sketch-know-jkgEIe {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casessketch .industry-requiermen-JrLznO {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 650px;
}
.casessketch .introduction-2xGyxi {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .just-to-reiterate-w-8dsmJN {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 692px;
  width: 650px;
}
.casessketch .lets-me-emphasis-so-Y9tLMJ {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  width: 650px;
}
.casessketch .lets-take-a-lesson-zyNqkX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 557px;
  width: 650px;
}
.casessketch .made-with-sketch-8yWqg7 {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: -1px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casessketch .nate-n7W2x5 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 36px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casessketch .next-TLXR8q {
  background-color: transparent;
  height: 14px;
  left: 173px;
  position: absolute;
  top: 7px;
  width: 14px;
}
.casessketch .now-designers-who-a-jkgEIe {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 584px;
  width: 650px;
}
.casessketch .on-the-other-hand-i-8dsmJN {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  width: 650px;
}
.casessketch .on-the-other-hand-i-NMfKuz {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 314px;
  width: 650px;
}
.casessketch .oval-6jJrSR {
  background-color: transparent;
  height: 5px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casessketch .oval-Ax2t4q {
  background-color: transparent;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.casessketch .oval-BBwPfB {
  background-color: transparent;
  height: 6px;
  left: 10px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.casessketch .oval-QSsB7H {
  background-color: transparent;
  height: 5px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casessketch .past-tense-marketing-HW5p1U {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 719px;
  width: 650px;
}
.casessketch .people-dont-just-st-gih6E6 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casessketch .premade-pages-every-NMfKuz {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 476px;
  width: 650px;
}
.casessketch .privately-owned-gre-75Vz0c {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 98px;
  width: 650px;
}
.casessketch .product-acquisition-Y9tLMJ {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 503px;
  width: 650px;
}
.casessketch .product-research-IuY7ZM {
  background-color: transparent;
  font-weight: 590;
  height: auto;
  left: 608px;
  letter-spacing: -0.15px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 202px;
  white-space: nowrap;
  width: auto;
}
.casessketch .rectangle-72p1Iv {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 4882px;
  width: 650px;
}
.casessketch .rectangle-Ax2t4q {
  background-color: transparent;
  border-radius: 2.275px;
  height: 22px;
  left: 5px;
  position: absolute;
  top: -1px;
  transform: rotate(-35deg);
  width: 6px;
}
.casessketch .rectangle-BBwPfB {
  background-color: var(--clementine);
  border-radius: 2.275px;
  height: 19px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casessketch .rectangle-C66BZx {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 11952px;
  width: 650px;
}
.casessketch .rectangle-IuY7ZM {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 2001px;
  width: 650px;
}
.casessketch .rectangle-Oz2NVE {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 14850px;
  width: 650px;
}
.casessketch .rectangle-QSsB7H {
  background-color: transparent;
  border-radius: 2.275px;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casessketch .rectangle-YBdmuf {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 14334px;
  width: 650px;
}
.casessketch .rectangle-jEaxO8 {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 7110px;
  width: 650px;
}
.casessketch .rectangle-nAiAxF {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 10410px;
  width: 650px;
}
.casessketch .rectangle-nwPVqu {
  background-color: var(--buttery-white);
  border-radius: 6px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casessketch .rectangle-o0waUf {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 12900px;
  width: 650px;
}
.casessketch .rectangle-x4D1Ff {
  background-color: var(--azure-radiance);
  border-radius: 14px;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}
.casessketch .rectangle-xiMIPR {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 6270px;
  width: 650px;
}
.casessketch .rectangle-xiobhn {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 3462px;
  width: 650px;
}
.casessketch .rectangle-zZGqvC {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 8679px;
  width: 650px;
}
.casessketch .regardless-of-that-Y9tLMJ {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 152px;
  width: 650px;
}
.casessketch .showcasing-sketchs-zyNqkX {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 503px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .sketch-is-my-faviour-2xGyxi {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 98px;
  width: 650px;
}
.casessketch .sketch-logo-2-8yWqg7 {
  background-color: transparent;
  height: 26px;
  left: 112px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casessketch .sketch-mac-icon-bs2x-s70e6U {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casessketch .sketchs-20th-annive-75Vz0c {
  background-color: transparent;
  color: var(--clementine);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .sketchs-adoption-tr-HW5p1U {
  background-color: transparent;
  color: var(--clementine);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .sketchs-adoption-tr-JrLznO {
  background-color: transparent;
  color: var(--clementine);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .sketchs-adoption-tr-NMfKuz {
  background-color: transparent;
  color: var(--clementine);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .sketchs-adoption-tr-gih6E6 {
  background-color: transparent;
  color: var(--clementine);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .sketchs-adoption-tr-hOx3xR {
  background-color: transparent;
  color: var(--clementine);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .sketchs-adoption-tr-zyNqkX {
  background-color: transparent;
  color: var(--clementine);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .sketchs-marketing-s-Y9tLMJ {
  background-color: transparent;
  color: var(--clementine);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .sketchs-monthly-fee-jkgEIe {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 746px;
  width: 650px;
}
.casessketch .sketchs-untapped-ma-jkgEIe {
  background-color: transparent;
  color: var(--clementine);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .sketchs-vision-8dsmJN {
  background-color: transparent;
  color: var(--clementine);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .sketchs-vision-how-2xGyxi {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 368px;
  width: 650px;
}
.casessketch .sketchs-weak-points-IuY7ZM {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 424px;
  letter-spacing: -0.50px;
  line-height: 68px;
  position: absolute;
  text-align: center;
  top: 243px;
  white-space: nowrap;
  width: auto;
}
.casessketch .slogan-examples-i-th-8dsmJN {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 962px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .so-a-new-user-just-f-HW5p1U {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casessketch .so-a-user-has-not-be-zyNqkX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casessketch .so-a-user-is-hooked-hOx3xR {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casessketch .so-how-do-we-apply-i-HW5p1U {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 665px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .so-how-does-help-l-NMfKuz {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 422px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .so-what-steps-sketch-hOx3xR {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 368px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .so-where-do-i-see-sk-75Vz0c {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .span1-29zupL {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-2sZ3t3 {
  letter-spacing: 0.00px;
}
.casessketch .span1-489nrw {
  letter-spacing: 0.00px;
}
.casessketch .span1-6fdKo5 {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-BOqVbq {
  letter-spacing: 0.00px;
}
.casessketch .span1-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span1-ETD2fJ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-FsPhJZ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-IAzEx2 {
  letter-spacing: 0.00px;
}
.casessketch .span1-JHxLci {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-K8vE8x {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-KURDWL {
  letter-spacing: 0.00px;
}
.casessketch .span1-Lh5ZTA {
  letter-spacing: 0.00px;
}
.casessketch .span1-NCN0HQ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-Nfax9Z {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-QhntRU {
  letter-spacing: 0.00px;
}
.casessketch .span1-Xtxkhj {
  letter-spacing: 0.00px;
}
.casessketch .span1-c8AeCe {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-cDsNzj {
  letter-spacing: 0.00px;
}
.casessketch .span1-j5BrbL {
  letter-spacing: 0.00px;
}
.casessketch .span1-jukQ4g {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-kK0Y3q {
  letter-spacing: 0.00px;
}
.casessketch .span1-obP1xZ {
  letter-spacing: 0.00px;
}
.casessketch .span1-qx0Sd3 {
  letter-spacing: 0.00px;
}
.casessketch .span1-rEjNbi {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-t0pZXD {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-ujCJJF {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span1-yvURAW {
  letter-spacing: 0.00px;
}
.casessketch .span10-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span10-kK0Y3q {
  letter-spacing: 0.00px;
}
.casessketch .span11-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span12-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span2-29zupL {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-2sZ3t3 {
  letter-spacing: 0.00px;
}
.casessketch .span2-489nrw {
  letter-spacing: 0.00px;
}
.casessketch .span2-6fdKo5 {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-BOqVbq {
  letter-spacing: 0.00px;
}
.casessketch .span2-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span2-ETD2fJ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-FsPhJZ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-IAzEx2 {
  letter-spacing: 0.00px;
}
.casessketch .span2-JHxLci {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-K8vE8x {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-KURDWL {
  letter-spacing: 0.00px;
}
.casessketch .span2-Lh5ZTA {
  letter-spacing: 0.00px;
}
.casessketch .span2-NCN0HQ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-Nfax9Z {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-QhntRU {
  letter-spacing: 0.00px;
}
.casessketch .span2-Xtxkhj {
  letter-spacing: 0.00px;
}
.casessketch .span2-c8AeCe {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-cDsNzj {
  letter-spacing: 0.00px;
}
.casessketch .span2-j5BrbL {
  letter-spacing: 0.00px;
}
.casessketch .span2-jukQ4g {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-kK0Y3q {
  letter-spacing: 0.00px;
}
.casessketch .span2-obP1xZ {
  letter-spacing: 0.00px;
}
.casessketch .span2-qx0Sd3 {
  letter-spacing: 0.00px;
}
.casessketch .span2-rEjNbi {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-t0pZXD {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-ujCJJF {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span2-yvURAW {
  letter-spacing: 0.00px;
}
.casessketch .span3-489nrw {
  letter-spacing: 0.00px;
}
.casessketch .span3-6fdKo5 {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span3-BOqVbq {
  letter-spacing: 0.00px;
}
.casessketch .span3-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span3-ETD2fJ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span3-IAzEx2 {
  letter-spacing: 0.00px;
}
.casessketch .span3-JHxLci {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span3-KURDWL {
  letter-spacing: 0.00px;
}
.casessketch .span3-QhntRU {
  letter-spacing: 0.00px;
}
.casessketch .span3-Xtxkhj {
  letter-spacing: 0.00px;
}
.casessketch .span3-cDsNzj {
  letter-spacing: 0.00px;
}
.casessketch .span3-j5BrbL {
  letter-spacing: 0.00px;
}
.casessketch .span3-kK0Y3q {
  letter-spacing: 0.00px;
}
.casessketch .span3-obP1xZ {
  letter-spacing: 0.00px;
}
.casessketch .span3-qx0Sd3 {
  letter-spacing: 0.00px;
}
.casessketch .span4-489nrw {
  letter-spacing: 0.00px;
}
.casessketch .span4-BOqVbq {
  letter-spacing: 0.00px;
}
.casessketch .span4-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span4-ETD2fJ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span4-IAzEx2 {
  letter-spacing: 0.00px;
}
.casessketch .span4-KURDWL {
  letter-spacing: 0.00px;
}
.casessketch .span4-QhntRU {
  letter-spacing: 0.00px;
}
.casessketch .span4-Xtxkhj {
  letter-spacing: 0.00px;
}
.casessketch .span4-cDsNzj {
  letter-spacing: 0.00px;
}
.casessketch .span4-j5BrbL {
  letter-spacing: 0.00px;
}
.casessketch .span4-kK0Y3q {
  letter-spacing: 0.00px;
}
.casessketch .span4-obP1xZ {
  letter-spacing: 0.00px;
}
.casessketch .span4-qx0Sd3 {
  letter-spacing: 0.00px;
}
.casessketch .span5-489nrw {
  letter-spacing: 0.00px;
}
.casessketch .span5-BOqVbq {
  letter-spacing: 0.00px;
}
.casessketch .span5-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span5-ETD2fJ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span5-IAzEx2 {
  letter-spacing: 0.00px;
}
.casessketch .span5-KURDWL {
  letter-spacing: 0.00px;
}
.casessketch .span5-cDsNzj {
  letter-spacing: 0.00px;
}
.casessketch .span5-j5BrbL {
  letter-spacing: 0.00px;
}
.casessketch .span5-kK0Y3q {
  letter-spacing: 0.00px;
}
.casessketch .span5-obP1xZ {
  letter-spacing: 0.00px;
}
.casessketch .span5-qx0Sd3 {
  letter-spacing: 0.00px;
}
.casessketch .span6-489nrw {
  letter-spacing: 0.00px;
}
.casessketch .span6-BOqVbq {
  letter-spacing: 0.00px;
}
.casessketch .span6-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span6-ETD2fJ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span6-IAzEx2 {
  letter-spacing: 0.00px;
}
.casessketch .span6-KURDWL {
  letter-spacing: 0.00px;
}
.casessketch .span6-cDsNzj {
  letter-spacing: 0.00px;
}
.casessketch .span6-j5BrbL {
  letter-spacing: 0.00px;
}
.casessketch .span6-kK0Y3q {
  letter-spacing: 0.00px;
}
.casessketch .span6-obP1xZ {
  letter-spacing: 0.00px;
}
.casessketch .span6-qx0Sd3 {
  letter-spacing: 0.00px;
}
.casessketch .span7-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span7-ETD2fJ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span7-IAzEx2 {
  letter-spacing: 0.00px;
}
.casessketch .span7-KURDWL {
  letter-spacing: 0.00px;
}
.casessketch .span7-cDsNzj {
  letter-spacing: 0.00px;
}
.casessketch .span7-j5BrbL {
  letter-spacing: 0.00px;
}
.casessketch .span7-kK0Y3q {
  letter-spacing: 0.00px;
}
.casessketch .span7-obP1xZ {
  letter-spacing: 0.00px;
}
.casessketch .span8-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span8-ETD2fJ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span8-IAzEx2 {
  letter-spacing: 0.00px;
}
.casessketch .span8-KURDWL {
  letter-spacing: 0.00px;
}
.casessketch .span8-j5BrbL {
  letter-spacing: 0.00px;
}
.casessketch .span8-kK0Y3q {
  letter-spacing: 0.00px;
}
.casessketch .span8-obP1xZ {
  letter-spacing: 0.00px;
}
.casessketch .span9-DgxQVx {
  letter-spacing: 0.00px;
}
.casessketch .span9-ETD2fJ {
  font-style: normal;
  letter-spacing: 0.00px;
}
.casessketch .span9-kK0Y3q {
  letter-spacing: 0.00px;
}
.casessketch .target-students-uni-JrLznO {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 611px;
  width: 650px;
}
.casessketch .thank-you-thanking-gih6E6 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 233px;
  width: 650px;
}
.casessketch .thanks-for-reading-e6h9Jh {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .thats-not-enough-d-JrLznO {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  width: 650px;
}
.casessketch .the-ability-to-publi-jkgEIe {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 650px;
}
.casessketch .the-part-about-the-a-jkgEIe {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1019px;
  width: 650px;
}
.casessketch .the-right-way-is-to-zyNqkX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 314px;
  width: 650px;
}
.casessketch .the-single-thing-tha-jkgEIe {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  width: 650px;
}
.casessketch .the-smaller-the-act-HW5p1U {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 368px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .the-topics-i-want-to-Y9tLMJ {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 422px;
  width: 650px;
}
.casessketch .the-user-who-left-sk-zyNqkX {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 773px;
  width: 650px;
}
.casessketch .these-are-all-just-e-HW5p1U {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1394px;
  width: 650px;
}
.casessketch .to-empower-people-s-8dsmJN {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 854px;
  width: 650px;
}
.casessketch .to-make-the-best-po-8dsmJN {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 98px;
  width: 650px;
}
.casessketch .vision-examples-i-th-8dsmJN {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 800px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .when-talking-about-d-hOx3xR {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1529px;
  width: 650px;
}
.casessketch .when-users-try-sketc-NMfKuz {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casessketch .x-9DhqwD {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 692px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casessketch .x-gp1wEv {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 547px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casessketch .x-mmbJxj {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 620px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casessketch .you-are-welcome-to-c-e6h9Jh {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 37px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .your-only-skill-cap-2xGyxi {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 650px;
}
.casessketch .your-self-expressio-8dsmJN {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1016px;
  width: 650px;
}
