/* screen - casesdontguesstest */

.casesdontguesstest {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 11650px;
  min-width: 1440px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.casesdontguesstest .about-gbkXG5 {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1057px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .about-xZfhCN {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 646px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .add-to-cart-xGxxxx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 148px;
  white-space: nowrap;
  width: 148px;
}
.casesdontguesstest .as-a-control-subject-PutMjR {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesdontguesstest .as-the-only-designer-eYaoIL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesdontguesstest .as-we-can-see-in-her-xgzvI0 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 782px;
  width: 650px;
}
.casesdontguesstest .at-this-point-i-was-1mlmcG {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesdontguesstest .based-on-the-user-ac-xgzvI0 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 650px;
}
.casesdontguesstest .before-i-form-my-hyp-EombAy {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesdontguesstest .can-i-increase-conve-EombAy {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 368px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .cases-gbkXG5 {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 982px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .cases-xZfhCN {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 573px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .checkout-speed-xGxxxx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 185px;
  white-space: nowrap;
  width: 148px;
}
.casesdontguesstest .conclusion-Le5Dg1 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .conducting-the-test-Ahmetw {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesdontguesstest .contact-JJlHBW {
  background-color: transparent;
  font-weight: 510;
  height: auto;
  left: 17px;
  letter-spacing: -0.05px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .contact-XjYSrf {
  background-color: transparent;
  color: var(--science-blue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 73px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .contact-xZfhCN {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 718px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .control-design-PU4ASs {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .control-design-box-PutMjR {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .control-design-very-xgzvI0 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1511px;
  width: 650px;
}
.casesdontguesstest .control-xGxxxx {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 221px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .copyright-2021-nat-xZfhCN {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 228px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: 242px;
}
.casesdontguesstest .data-analysis-xgzvI0 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .day-1-control-desig-Ahmetw {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 611px;
  width: 650px;
}
.casesdontguesstest .design-variants-I8MxLd {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .designing-the-test-1mlmcG {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .dock-gbkXG5 {
  background-color: var(--white);
  height: 55px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 1443px;
}
.casesdontguesstest .dock-xZfhCN {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.casesdontguesstest .dont-guess-test-xjM15f {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: -1px;
  letter-spacing: -0.50px;
  line-height: 68px;
  position: absolute;
  text-align: center;
  top: 41px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .download-case-pdf-VhkfoV {
  background-color: transparent;
  color: var(--science-blue);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .end-case-contact-E42RZh {
  background-color: transparent;
  height: 100px;
  left: 395px;
  position: absolute;
  top: 11425px;
  width: 650px;
}
.casesdontguesstest .finding-people-is-ea-wSDoj8 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesdontguesstest .footer-website-hite-1440px-980-E42RZh {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  position: absolute;
  width: 1440px;
}
.casesdontguesstest .for-the-actual-exper-1mlmcG {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 368px;
  width: 650px;
}
.casesdontguesstest .for-the-last-day-i-Ahmetw {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 746px;
  width: 650px;
}
.casesdontguesstest .for-the-testing-indi-sW3U4B {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesdontguesstest .from-the-interviews-xgzvI0 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 998px;
  width: 650px;
}
.casesdontguesstest .gender-females-i-a-wSDoj8 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 125px;
  width: 650px;
}
.casesdontguesstest .group-10-E42RZh {
  background-color: transparent;
  height: 109px;
  left: 481px;
  position: absolute;
  top: 202px;
  width: 478px;
}
.casesdontguesstest .group-10-eYaoIL {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 233px;
  width: 187px;
}
.casesdontguesstest .group-11-E42RZh {
  background-color: transparent;
  height: 557px;
  left: 395px;
  position: absolute;
  top: 6484px;
  width: 650px;
}
.casesdontguesstest .group-12-aqaMVH {
  background-color: transparent;
  height: 663px;
  left: 47px;
  position: absolute;
  top: 47px;
  width: 883px;
}
.casesdontguesstest .group-125-5X5Aur {
  background-color: transparent;
  height: 36px;
  left: 199px;
  position: absolute;
  top: 169px;
  transform: rotate(45deg);
  width: 496px;
}
.casesdontguesstest .group-13-vdgES6 {
  background-color: transparent;
  height: 663px;
  left: 47px;
  position: absolute;
  top: 47px;
  width: 883px;
}
.casesdontguesstest .group-132-lYrWNy {
  background-color: transparent;
  height: 663px;
  left: 48px;
  position: absolute;
  top: 48px;
  width: 883px;
}
.casesdontguesstest .group-14-E42RZh {
  background-color: transparent;
  height: 287px;
  left: 395px;
  position: absolute;
  top: 4179px;
  width: 650px;
}
.casesdontguesstest .group-141-xgzvI0 {
  background-color: transparent;
  height: 323px;
  left: 0px;
  position: absolute;
  top: 432px;
  width: 650px;
}
.casesdontguesstest .group-15-E42RZh {
  background-color: transparent;
  height: 206px;
  left: 395px;
  position: absolute;
  top: 3852px;
  width: 650px;
}
.casesdontguesstest .group-16-E42RZh {
  background-color: transparent;
  height: 575px;
  left: 395px;
  position: absolute;
  top: 1415px;
  width: 650px;
}
.casesdontguesstest .group-16-v48HBP {
  background-color: transparent;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 16px;
}
.casesdontguesstest .group-17-E42RZh {
  background-color: transparent;
  height: 233px;
  left: 395px;
  position: absolute;
  top: 2708px;
  width: 650px;
}
.casesdontguesstest .group-18-E42RZh {
  background-color: transparent;
  height: 476px;
  left: 395px;
  position: absolute;
  top: 2111px;
  width: 650px;
}
.casesdontguesstest .group-19-E42RZh {
  background-color: transparent;
  height: 791px;
  left: 230px;
  position: absolute;
  top: 3001px;
  width: 980px;
}
.casesdontguesstest .group-2-eIOq1F {
  background-color: transparent;
  height: 586px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 722px;
}
.casesdontguesstest .group-2-gbkXG5 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 231px;
  position: absolute;
  top: 13px;
  width: 85px;
}
.casesdontguesstest .group-20-E42RZh {
  background-color: transparent;
  height: 791px;
  left: 230px;
  position: absolute;
  top: 4526px;
  width: 980px;
}
.casesdontguesstest .group-21-E42RZh {
  background-color: transparent;
  height: 791px;
  left: 230px;
  position: absolute;
  top: 5572px;
  width: 980px;
}
.casesdontguesstest .group-3-5X5Aur {
  background-color: transparent;
  height: 593px;
  left: 118px;
  position: absolute;
  top: 178px;
  width: 744px;
}
.casesdontguesstest .group-4-E42RZh {
  background-color: transparent;
  height: 854px;
  left: 230px;
  position: absolute;
  top: 436px;
  width: 980px;
}
.casesdontguesstest .group-5-E42RZh {
  background-color: transparent;
  height: 233px;
  left: 395px;
  position: absolute;
  top: 11071px;
  width: 650px;
}
.casesdontguesstest .group-6-E42RZh {
  background-color: transparent;
  height: 908px;
  left: 395px;
  position: absolute;
  top: 8329px;
  width: 650px;
}
.casesdontguesstest .group-6-gbkXG5 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 1131px;
  position: absolute;
  top: 13px;
  width: 80px;
}
.casesdontguesstest .group-7-E42RZh {
  background-color: transparent;
  height: 1592px;
  left: 395px;
  position: absolute;
  top: 9358px;
  width: 650px;
}
.casesdontguesstest .group-8-E42RZh {
  background-color: transparent;
  height: 503px;
  left: 395px;
  position: absolute;
  top: 7705px;
  width: 650px;
}
.casesdontguesstest .group-9-E42RZh {
  background-color: transparent;
  height: 422px;
  left: 395px;
  position: absolute;
  top: 7162px;
  width: 650px;
}
.casesdontguesstest .group-9fFwlf {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 26px;
}
.casesdontguesstest .group-eIOq1F {
  background-color: transparent;
  height: 586px;
  left: 23px;
  position: absolute;
  top: 7px;
  width: 720px;
}
.casesdontguesstest .group-xZfhCN {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1070px;
  position: absolute;
  top: 13px;
  width: 138px;
}
.casesdontguesstest .header-website-white-E42RZh {
  background-color: transparent;
  height: 54px;
  position: fixed;
  top: 0px;
  width: 1442px;
}
.casesdontguesstest .home-gbkXG5 {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 908px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .home-xZfhCN {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 502px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .hypothesis-EombAy {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .i-feel-that-these-in-sW3U4B {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 368px;
  width: 650px;
}
.casesdontguesstest .i-want-to-emphasis-m-I8MxLd {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesdontguesstest .i-wanted-to-check-if-EombAy {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 422px;
  width: 650px;
}
.casesdontguesstest .ideal-users-wSDoj8 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .indicators-xGxxxx {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 148px;
}
.casesdontguesstest .introduction-eYaoIL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .lets-recap-my-hypot-Le5Dg1 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesdontguesstest .made-with-sketch-FMzBtF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: -1px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .mvp-letting-users-t-1mlmcG {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  width: 650px;
}
.casesdontguesstest .mvp-test-letting-th-Ahmetw {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 287px;
  width: 650px;
}
.casesdontguesstest .nate-9fFwlf {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 36px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .next-VhkfoV {
  background-color: transparent;
  height: 14px;
  left: 173px;
  position: absolute;
  top: 7px;
  width: 14px;
}
.casesdontguesstest .now-to-variant-1-we-xgzvI0 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1295px;
  width: 650px;
}
.casesdontguesstest .oval-Hn5bBc {
  background-color: transparent;
  height: 6px;
  left: 10px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.casesdontguesstest .oval-jJ18TM {
  background-color: transparent;
  height: 5px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesdontguesstest .oval-jhSGmM {
  background-color: transparent;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.casesdontguesstest .oval-kIpi5K {
  background-color: transparent;
  height: 5px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesdontguesstest .product-clicked-xGxxxx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 259px;
  white-space: nowrap;
  width: 148px;
}
.casesdontguesstest .product-testing-xjM15f {
  background-color: transparent;
  font-weight: 590;
  height: auto;
  left: 140px;
  letter-spacing: -0.15px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.casesdontguesstest .rectangle-0PFCpL {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 8268px;
  width: 650px;
}
.casesdontguesstest .rectangle-5X5Aur {
  background-color: var(--buttery-white);
  border-radius: 60px;
  height: 760px;
  left: 0px;
  position: absolute;
  top: 94px;
  width: 980px;
}
.casesdontguesstest .rectangle-60WHhV {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 401px;
  left: 226px;
  position: absolute;
  top: 1px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-68OAO0 {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 251px;
  left: 586px;
  position: absolute;
  top: 332px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-7deAsQ {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 351px;
  left: 164px;
  position: absolute;
  top: 7px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-80KgF5 {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 501px;
  left: 476px;
  position: absolute;
  top: 76px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-8rLbBV {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 7101px;
  width: 650px;
}
.casesdontguesstest .rectangle-8wonNf {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 451px;
  left: 271px;
  position: absolute;
  top: 15px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-BoW6Vz {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 351px;
  left: 542px;
  position: absolute;
  top: 253px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-DJn9LT {
  background-color: transparent;
  border-radius: 30.5px;
  height: 352px;
  left: 543px;
  position: absolute;
  top: 252px;
  transform: rotate(40deg);
  width: 61px;
}
.casesdontguesstest .rectangle-E42RZh {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 2050px;
  width: 650px;
}
.casesdontguesstest .rectangle-E9bvqa {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 551px;
  left: 424px;
  position: absolute;
  top: -39px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-FzTl4w {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 6423px;
  width: 650px;
}
.casesdontguesstest .rectangle-Hn5bBc {
  background-color: var(--clementine);
  border-radius: 2.275px;
  height: 19px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesdontguesstest .rectangle-JJlHBW {
  background-color: var(--azure-radiance);
  border-radius: 14px;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}
.casesdontguesstest .rectangle-JQPMPh {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 301px;
  left: 102px;
  position: absolute;
  top: 18px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-LjjZr3 {
  background-color: transparent;
  border-radius: 31px;
  height: 452px;
  left: 271px;
  position: absolute;
  top: 15px;
  transform: rotate(40deg);
  width: 62px;
}
.casesdontguesstest .rectangle-Mza08e {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 496px;
}
.casesdontguesstest .rectangle-N7FQGv {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 601px;
  left: 437px;
  position: absolute;
  top: 2px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-OaGjUo {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 11364px;
  width: 650px;
}
.casesdontguesstest .rectangle-QzW58B {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 501px;
  left: 345px;
  position: absolute;
  top: -5px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-T834cH {
  background-color: transparent;
  border-radius: 30.5px;
  height: 552px;
  left: 425px;
  position: absolute;
  top: -39px;
  transform: rotate(40deg);
  width: 61px;
}
.casesdontguesstest .rectangle-VjJXaJ {
  background-color: transparent;
  border-radius: 31px;
  height: 502px;
  left: 345px;
  position: absolute;
  top: -5px;
  transform: rotate(40deg);
  width: 62px;
}
.casesdontguesstest .rectangle-WdMH2r {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 451px;
  left: 498px;
  position: absolute;
  top: 168px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-aPxLmB {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 4118px;
  width: 650px;
}
.casesdontguesstest .rectangle-aqaMVH {
  background-color: var(--alabaster);
  border-radius: 40px;
  height: 760px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 980px;
}
.casesdontguesstest .rectangle-cV3djz {
  background-color: transparent;
  border-radius: 30.5px;
  height: 252px;
  left: 587px;
  position: absolute;
  top: 331px;
  transform: rotate(40deg);
  width: 61px;
}
.casesdontguesstest .rectangle-caToia {
  background-color: transparent;
  border-radius: 30.5px;
  height: 301px;
  left: 102px;
  position: absolute;
  top: 18px;
  transform: rotate(40deg);
  width: 61px;
}
.casesdontguesstest .rectangle-fxGptr {
  background-color: var(--salomie);
  border-radius: 30px;
  height: 251px;
  left: 73px;
  position: absolute;
  top: -10px;
  transform: rotate(40deg);
  width: 60px;
}
.casesdontguesstest .rectangle-gAXG2D {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 11010px;
  width: 650px;
}
.casesdontguesstest .rectangle-gCAChb {
  background-color: transparent;
  height: 30px;
  left: 37px;
  position: absolute;
  top: 1px;
  width: 17px;
}
.casesdontguesstest .rectangle-gaD5zw {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 9297px;
  width: 650px;
}
.casesdontguesstest .rectangle-jJ18TM {
  background-color: transparent;
  border-radius: 2.275px;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.casesdontguesstest .rectangle-jhSGmM {
  background-color: transparent;
  border-radius: 2.275px;
  height: 22px;
  left: 5px;
  position: absolute;
  top: -1px;
  transform: rotate(-35deg);
  width: 6px;
}
.casesdontguesstest .rectangle-jmDwxW {
  background-color: transparent;
  border-radius: 30.5px;
  height: 251px;
  left: 74px;
  position: absolute;
  top: -10px;
  transform: rotate(40deg);
  width: 61px;
}
.casesdontguesstest .rectangle-lYrWNy {
  background-color: var(--alabaster);
  border-radius: 40px;
  height: 760px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 980px;
}
.casesdontguesstest .rectangle-mKsHkF {
  background-color: transparent;
  border-radius: 30.5px;
  height: 401px;
  left: 226px;
  position: absolute;
  top: 1px;
  transform: rotate(40deg);
  width: 61px;
}
.casesdontguesstest .rectangle-oaTcvc {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 2647px;
  width: 650px;
}
.casesdontguesstest .rectangle-p1NQex {
  background-color: transparent;
  border-radius: 30.5px;
  height: 452px;
  left: 499px;
  position: absolute;
  top: 168px;
  transform: rotate(40deg);
  width: 61px;
}
.casesdontguesstest .rectangle-snQ3PO {
  background-color: transparent;
  border-radius: 30.5px;
  height: 602px;
  left: 438px;
  position: absolute;
  top: 2px;
  transform: rotate(40deg);
  width: 61px;
}
.casesdontguesstest .rectangle-tLjMbm {
  background-color: transparent;
  border-radius: 30.5px;
  height: 351px;
  left: 164px;
  position: absolute;
  top: 7px;
  transform: rotate(40deg);
  width: 61px;
}
.casesdontguesstest .rectangle-v48HBP {
  background-color: var(--buttery-white);
  border-radius: 6px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casesdontguesstest .rectangle-vdgES6 {
  background-color: var(--alabaster);
  border-radius: 40px;
  height: 760px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 980px;
}
.casesdontguesstest .rectangle-x0hkHY {
  background-color: transparent;
  height: 30px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 495px;
}
.casesdontguesstest .rectangle-xSBYcA {
  background-color: transparent;
  border-radius: 30.5px;
  height: 502px;
  left: 477px;
  position: absolute;
  top: 76px;
  transform: rotate(40deg);
  width: 61px;
}
.casesdontguesstest .rectangle-zPUlGm {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 395px;
  position: absolute;
  top: 7644px;
  width: 650px;
}
.casesdontguesstest .score-1-rejected-s-xgzvI0 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 324px;
  width: 650px;
}
.casesdontguesstest .scroll-time-xGxxxx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 222px;
  white-space: nowrap;
  width: 148px;
}
.casesdontguesstest .sketch-logo-2-FMzBtF {
  background-color: transparent;
  height: 26px;
  left: 112px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casesdontguesstest .sketch-mac-icon-bs2x-lROlUW {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.casesdontguesstest .span1-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span1-685bHw {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span1-EGp31e {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span1-G2f4iY {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span1-IOLNVN {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span1-M4Uhsq {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span1-ZYmGkv {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span1-fEt1F2 {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span1-ie2Gxt {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span1-rwTF6i {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span10-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span11-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span12-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span13-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span14-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span2-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span2-685bHw {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span2-EGp31e {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span2-G2f4iY {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span2-IOLNVN {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span2-M4Uhsq {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span2-ZYmGkv {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span2-fEt1F2 {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span2-ie2Gxt {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span2-rwTF6i {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span3-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span3-685bHw {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span3-EGp31e {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span3-G2f4iY {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span3-IOLNVN {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span3-M4Uhsq {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span3-fEt1F2 {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span3-rwTF6i {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span4-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span4-685bHw {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span4-EGp31e {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span4-G2f4iY {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span4-IOLNVN {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span4-M4Uhsq {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span4-fEt1F2 {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span4-rwTF6i {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span5-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span5-685bHw {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span5-EGp31e {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span5-M4Uhsq {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span5-rwTF6i {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span6-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span6-685bHw {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span6-EGp31e {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span6-M4Uhsq {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span6-rwTF6i {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span7-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span7-685bHw {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span7-rwTF6i {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span8-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span8-685bHw {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span8-rwTF6i {
  letter-spacing: 0.00px;
}
.casesdontguesstest .span9-46nxxR {
  letter-spacing: 0.00px;
}
.casesdontguesstest .test-indicators-sW3U4B {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .thanks-for-reading-XjYSrf {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .the-babaful-website-lYrWNy {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 165px;
  letter-spacing: 0.15px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 777px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .the-experiment-Ahmetw {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .the-follow-up-interv-Ahmetw {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 368px;
  width: 650px;
}
.casesdontguesstest .the-second-veriant-i-E42RZh {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 395px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 5377px;
  width: 650px;
}
.casesdontguesstest .the-stakeholders-gav-EombAy {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 260px;
  width: 650px;
}
.casesdontguesstest .there-were-a-lot-of-wSDoj8 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 260px;
  width: 650px;
}
.casesdontguesstest .total-xGxxxx {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 296px;
  white-space: nowrap;
  width: 148px;
}
.casesdontguesstest .user-choices-xGxxxx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 74px;
  white-space: nowrap;
  width: 148px;
}
.casesdontguesstest .user-flow-xGxxxx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 111px;
  white-space: nowrap;
  width: 148px;
}
.casesdontguesstest .user-inclination-do-sW3U4B {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 152px;
  width: 650px;
}
.casesdontguesstest .user-inclination-xGxxxx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 37px;
  white-space: nowrap;
  width: 148px;
}
.casesdontguesstest .variant-1-flow-grid-I8MxLd {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 233px;
  width: 650px;
}
.casesdontguesstest .variant-1-pinteres-vdgES6 {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 165px;
  letter-spacing: 0.15px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 777px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .variant-1-xGxxxx {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 388px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .variant-2-magazine-aqaMVH {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 165px;
  letter-spacing: 0.15px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 777px;
  white-space: nowrap;
  width: 650px;
}
.casesdontguesstest .variant-2-xGxxxx {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 555px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 95px;
}
.casesdontguesstest .when-testing-element-PU4ASs {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 650px;
}
.casesdontguesstest .x-7QLaE3 {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 692px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casesdontguesstest .x-XqXha5 {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 620px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casesdontguesstest .x-xZfhCN {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 547px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.casesdontguesstest .x1-HEaUw5 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 388px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 185px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x1-IMvbjk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 555px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 37px;
  white-space: nowrap;
  width: 95px;
}
.casesdontguesstest .x1-WMLOgw {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 555px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 74px;
  white-space: nowrap;
  width: 95px;
}
.casesdontguesstest .x1-bdLwi2 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 555px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 222px;
  white-space: nowrap;
  width: 95px;
}
.casesdontguesstest .x1-hypothesis-2-con-eYaoIL {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 287px;
  width: 650px;
}
.casesdontguesstest .x1-jNRqaD {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 555px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 111px;
  white-space: nowrap;
  width: 95px;
}
.casesdontguesstest .x1-nSsxAk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 388px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 259px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x1-xGxxxx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 388px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 148px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x12-xGxxxx {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 555px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 296px;
  white-space: nowrap;
  width: 95px;
}
.casesdontguesstest .x14-xGxxxx {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 388px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 296px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x16-xGxxxx {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 221px;
  letter-spacing: 0.24px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 296px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x2-HEaUw5 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 221px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 148px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x2-IMvbjk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 221px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 222px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x2-WMLOgw {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 221px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 185px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x2-bdLwi2 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 555px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 259px;
  white-space: nowrap;
  width: 95px;
}
.casesdontguesstest .x2-jNRqaD {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 388px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 37px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x2-nSsxAk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 221px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 111px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x2-xGxxxx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 221px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 74px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x3-HEaUw5 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 388px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 74px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x3-IMvbjk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 388px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 111px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x3-WMLOgw {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 388px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 222px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x3-bdLwi2 {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 555px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 185px;
  white-space: nowrap;
  width: 95px;
}
.casesdontguesstest .x3-jNRqaD {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 555px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 148px;
  white-space: nowrap;
  width: 95px;
}
.casesdontguesstest .x3-nSsxAk {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 221px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 259px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .x3-xGxxxx {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 221px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 37px;
  white-space: nowrap;
  width: 94px;
}
.casesdontguesstest .you-are-welcome-to-c-XjYSrf {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 37px;
  white-space: nowrap;
  width: 650px;
}
