/* screen - cases */

.cases {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 690px;
  min-width: 1440px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.cases .about-bOp8l6 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 646px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.cases .about-j8aQaq {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1056px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 19px;
  white-space: nowrap;
  width: auto;
}
.cases .behavior-psychology-iugUT1 {
  background-color: transparent;
  color: var(--black-2);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 94px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}
.cases .case-studies-yWR3Bf {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: var(--font-family-sfprodisplay-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 0px;
  letter-spacing: 0.20px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 650px;
}
.cases .cases-bOp8l6 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 573px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.cases .cases-j8aQaq {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 981px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 19px;
  white-space: nowrap;
  width: auto;
}
.cases .combined-shape-tMmbho {
  background-color: transparent;
  height: 50px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 28px;
}
.cases .contact-bOp8l6 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 718px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.cases .contact-wHxMQH {
  background-color: transparent;
  font-weight: 510;
  height: auto;
  left: 17px;
  letter-spacing: -0.05px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: auto;
}
.cases .copyright-2021-nat-bOp8l6 {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 228px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: 242px;
}
.cases .dock-bOp8l6 {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.cases .dock-j8aQaq {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.cases .dont-guess-test-aKQqyq {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 94px;
  letter-spacing: 0.24px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 220px;
}
.cases .finding-an-in-KKt4wx {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 94px;
  letter-spacing: 0.24px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 220px;
}
.cases .footer-website-hite-1440px-980-QemYUw {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  position: absolute;
  width: 1440px;
}
.cases .group-16-wMjzAY {
  background-color: transparent;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 16px;
}
.cases .group-2-akhgxt {
  background-color: transparent;
  height: 53px;
  left: 8px;
  position: absolute;
  top: 9px;
  width: 54px;
}
.cases .group-2-j8aQaq {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 230px;
  position: absolute;
  top: 12px;
  width: 85px;
}
.cases .group-24-aKQqyq {
  background-color: transparent;
  height: 50px;
  left: 4px;
  position: absolute;
  top: 10px;
  width: 62px;
}
.cases .group-26-iugUT1 {
  background-color: transparent;
  height: 52px;
  left: 20px;
  position: absolute;
  top: 9px;
  width: 30px;
}
.cases .group-29-KKt4wx {
  background-color: transparent;
  height: 52px;
  left: 19px;
  position: absolute;
  top: 9px;
  transform: rotate(30deg);
  width: 31px;
}
.cases .group-3-QemYUw {
  background-color: transparent;
  cursor: pointer;
  height: 70px;
  left: 731px;
  position: absolute;
  top: 240px;
  width: 314px;
}
.cases .group-4-QemYUw {
  background-color: transparent;
  cursor: pointer;
  height: 70px;
  left: 731px;
  position: absolute;
  top: 370px;
  width: 314px;
}
.cases .group-5-QemYUw {
  background-color: transparent;
  height: 38px;
  left: 395px;
  position: absolute;
  top: 142px;
  width: 650px;
}
.cases .group-6-QemYUw {
  background-color: transparent;
  cursor: pointer;
  height: 70px;
  left: 395px;
  position: absolute;
  top: 370px;
  width: 314px;
}
.cases .group-6-j8aQaq {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 1130px;
  position: absolute;
  top: 12px;
  width: 80px;
}
.cases .group-J31dwo {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 26px;
}
.cases .group-QemYUw {
  background-color: transparent;
  cursor: pointer;
  height: 70px;
  left: 395px;
  position: absolute;
  top: 240px;
  width: 314px;
}
.cases .group-bOp8l6 {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1070px;
  position: absolute;
  top: 13px;
  width: 138px;
}
.cases .header-website-transparent-QemYUw {
  background-color: transparent;
  height: 52px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.cases .home-bOp8l6 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 502px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.cases .home-j8aQaq {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 907px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 19px;
  white-space: nowrap;
  width: auto;
}
.cases .kids-phone-addiction-iugUT1 {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 94px;
  letter-spacing: 0.24px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 220px;
}
.cases .made-with-sketch-VEavfQ {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: -1px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.cases .nate-J31dwo {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 36px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.cases .oval-9i5ilN {
  background-color: transparent;
  height: 5px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.cases .oval-E3RnEs {
  background-color: transparent;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.cases .oval-ICsxg0 {
  background-color: transparent;
  height: 6px;
  left: 10px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.cases .oval-TQWlZa {
  background-color: transparent;
  height: 5px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.cases .oval-rZmkO5 {
  background-color: transparent;
  height: 32px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 32px;
}
.cases .path-2-kWonx4 {
  background-color: transparent;
  height: 18px;
  left: 11px;
  position: absolute;
  top: -0px;
  width: 16px;
}
.cases .path-3-kWonx4 {
  background-color: transparent;
  height: 18px;
  left: 27px;
  position: absolute;
  top: -0px;
  width: 16px;
}
.cases .path-4-kWonx4 {
  background-color: transparent;
  height: 14px;
  left: 43px;
  position: absolute;
  top: 6px;
  width: 12px;
}
.cases .path-5-kWonx4 {
  background-color: transparent;
  height: 14px;
  left: -0px;
  position: absolute;
  top: 6px;
  width: 10px;
}
.cases .path-6-kWonx4 {
  background-color: transparent;
  height: 28px;
  left: 1px;
  position: absolute;
  top: 22px;
  width: 24px;
}
.cases .path-7-kWonx4 {
  background-color: transparent;
  height: 30px;
  left: 12px;
  position: absolute;
  top: 21px;
  width: 30px;
}
.cases .path-8-kWonx4 {
  background-color: transparent;
  height: 28px;
  left: 28px;
  position: absolute;
  top: 22px;
  width: 26px;
}
.cases .path-kWonx4 {
  background-color: transparent;
  height: 16px;
  left: 12px;
  position: absolute;
  top: 4px;
  width: 30px;
}
.cases .product-research-ess-akhgxt {
  background-color: transparent;
  color: var(--black-2);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 94px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}
.cases .product-testing-case-aKQqyq {
  background-color: transparent;
  color: var(--black-2);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 94px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}
.cases .rectangle-AdI7px {
  background-color: transparent;
  border-radius: 3px;
  height: 22px;
  left: 7px;
  position: absolute;
  top: -1px;
  transform: rotate(40deg);
  width: 6px;
}
.cases .rectangle-E3RnEs {
  background-color: transparent;
  border-radius: 2.275px;
  height: 22px;
  left: 5px;
  position: absolute;
  top: -1px;
  transform: rotate(-35deg);
  width: 6px;
}
.cases .rectangle-HjaGu6 {
  background-color: transparent;
  border-radius: 2.5px;
  height: 22px;
  left: 49px;
  position: absolute;
  top: 28px;
  transform: rotate(40deg);
  width: 5px;
}
.cases .rectangle-ICsxg0 {
  background-color: var(--clementine);
  border-radius: 2.275px;
  height: 19px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.cases .rectangle-JCiB3T {
  background-color: transparent;
  border-radius: 3px;
  height: 39px;
  left: 23px;
  position: absolute;
  top: 1px;
  transform: rotate(40deg);
  width: 6px;
}
.cases .rectangle-KKt4wx {
  background-color: var(--buttery-white);
  border-radius: 14px;
  height: 70px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 70px;
}
.cases .rectangle-OS3tj3 {
  background-color: transparent;
  border-radius: 3px;
  height: 52px;
  left: 37px;
  position: absolute;
  top: 0px;
  transform: rotate(40deg);
  width: 6px;
}
.cases .rectangle-QemYUw {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.cases .rectangle-TQWlZa {
  background-color: transparent;
  border-radius: 2.275px;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.cases .rectangle-aKQqyq {
  background-color: var(--buttery-white);
  border-radius: 14px;
  height: 70px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 70px;
}
.cases .rectangle-akhgxt {
  background-color: var(--buttery-white);
  border-radius: 14px;
  height: 70px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 70px;
}
.cases .rectangle-e8tVQw {
  background-color: transparent;
  border-radius: 3px;
  height: 39px;
  left: 42px;
  position: absolute;
  top: 14px;
  transform: rotate(40deg);
  width: 6px;
}
.cases .rectangle-eosJOI {
  background-color: transparent;
  border-radius: 3px;
  height: 48px;
  left: 36px;
  position: absolute;
  top: -4px;
  transform: rotate(40deg);
  width: 6px;
}
.cases .rectangle-hxULHy {
  background-color: transparent;
  border-radius: 3px;
  height: 31px;
  left: 46px;
  position: absolute;
  top: 21px;
  transform: rotate(40deg);
  width: 6px;
}
.cases .rectangle-iugUT1 {
  background-color: var(--buttery-white);
  border-radius: 14px;
  height: 70px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 70px;
}
.cases .rectangle-lz5cCG {
  background-color: transparent;
  border-radius: 3px;
  height: 31px;
  left: 14px;
  position: absolute;
  top: 0px;
  transform: rotate(40deg);
  width: 6px;
}
.cases .rectangle-mNOFrf {
  background-color: transparent;
  border-radius: 3.5px;
  height: 35px;
  left: 19px;
  position: absolute;
  top: 0px;
  transform: rotate(40deg);
  width: 7px;
}
.cases .rectangle-pPULyq {
  background-color: transparent;
  border-radius: 3px;
  height: 44px;
  left: 40px;
  position: absolute;
  top: 6px;
  transform: rotate(40deg);
  width: 6px;
}
.cases .rectangle-rZmkO5 {
  background-color: transparent;
  height: 6px;
  left: 13px;
  position: absolute;
  top: 30px;
  width: 6px;
}
.cases .rectangle-rfJA4w {
  background-color: var(--buttery-white);
  border-radius: 0.718132854578091px;
  height: 20px;
  left: 12px;
  position: absolute;
  top: 33px;
  width: 8px;
}
.cases .rectangle-tMmbho {
  background-color: transparent;
  border-radius: 4.414241680887798px;
  height: 53px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 31px;
}
.cases .rectangle-wHxMQH {
  background-color: var(--azure-radiance);
  border-radius: 14px;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}
.cases .rectangle-wMjzAY {
  background-color: var(--buttery-white);
  border-radius: 6px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.cases .rectangle-xxV2ka {
  background-color: transparent;
  border-radius: 3px;
  height: 27px;
  left: 9px;
  position: absolute;
  top: 1px;
  transform: rotate(40deg);
  width: 6px;
}
.cases .rectangle-yDxFDM {
  background-color: transparent;
  border-radius: 3px;
  height: 44px;
  left: 29px;
  position: absolute;
  top: -1px;
  transform: rotate(40deg);
  width: 6px;
}
.cases .rectangle-yWR3Bf {
  background-color: var(--ship-gray);
  border-radius: 0.5px;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 37px;
  width: 650px;
}
.cases .research-case-KKt4wx {
  background-color: transparent;
  color: var(--black-2);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 94px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}
.cases .sketch-logo-2-VEavfQ {
  background-color: transparent;
  height: 26px;
  left: 112px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.cases .sketch-mac-icon-bs2x-ytRcSW {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.cases .sketchs-weak-points-akhgxt {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 94px;
  letter-spacing: 0.24px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 220px;
}
.cases .span1-9E8xJ4 {
  letter-spacing: 0.00px;
}
.cases .span1-H97yLt {
  letter-spacing: 0.00px;
}
.cases .span1-XfMc04 {
  letter-spacing: 0.00px;
}
.cases .span1-aqCg6N {
  letter-spacing: 0.00px;
}
.cases .span1-jrMlvz {
  letter-spacing: 0.00px;
}
.cases .span2-9E8xJ4 {
  letter-spacing: 0.00px;
}
.cases .span2-H97yLt {
  letter-spacing: 0.00px;
}
.cases .span2-XfMc04 {
  letter-spacing: 0.00px;
}
.cases .span2-aqCg6N {
  letter-spacing: 0.00px;
}
.cases .span2-jrMlvz {
  letter-spacing: 0.00px;
}
.cases .span3-XfMc04 {
  letter-spacing: 0.00px;
}
.cases .span3-aqCg6N {
  letter-spacing: 0.00px;
}
.cases .view-case-KKt4wx {
  background-color: transparent;
  color: var(--science-blue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 94px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}
.cases .view-case-aKQqyq {
  background-color: transparent;
  color: var(--science-blue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 92px;
  line-height: 16px;
  position: absolute;
  text-align: right;
  top: 54px;
  white-space: nowrap;
  width: auto;
}
.cases .view-case-akhgxt {
  background-color: transparent;
  color: var(--science-blue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 94px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}
.cases .view-case-iugUT1 {
  background-color: transparent;
  color: var(--science-blue);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 94px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 54px;
  white-space: nowrap;
  width: auto;
}
.cases .x-45x8Cl {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 692px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.cases .x-KifFwr {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 620px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.cases .x-bOp8l6 {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 547px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
