/* screen - contact */

.contact {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2003px;
  min-width: 1440px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.contact .about-DhmS6L {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 230px;
  letter-spacing: 0.2px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1003px;
  white-space: nowrap;
  width: 200px;
}
.contact .about-MVeveB {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 646px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.contact .about-Y87PJj {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1057px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.contact .adobe-xd-lU8hRu {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 603px;
  letter-spacing: -0.29px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 70px;
  white-space: nowrap;
  width: auto;
}
.contact .aug-2019-present-DhmS6L {
  background-color: transparent;
  color: var(--gunsmoke);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 470px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1510px;
  white-space: nowrap;
  width: 740px;
}
.contact .based-in-zpyD3z {
  background-color: transparent;
  color: var(--gunsmoke);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 114px;
  white-space: nowrap;
  width: 150px;
}
.contact .behavior-psychology-zpyD3z {
  background-color: transparent;
  color: var(--mine-shaft);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 160px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 38px;
  white-space: nowrap;
  width: 325px;
}
.contact .cases-MVeveB {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 573px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.contact .cases-Y87PJj {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 982px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.contact .contact-LT8xmI {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 0px;
  letter-spacing: 0.2px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 200px;
}
.contact .contact-MVeveB {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 718px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.contact .contact-NV3iLu {
  background-color: transparent;
  font-weight: 510;
  height: auto;
  left: 17px;
  letter-spacing: -0.05px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: auto;
}
.contact .copyright-2021-nat-MVeveB {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 228px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: 242px;
}
.contact .desired-role-zpyD3z {
  background-color: transparent;
  color: var(--gunsmoke);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 150px;
}
.contact .dock-MVeveB {
  background-color: transparent;
  height: 52px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.contact .dock-Y87PJj {
  background-color: var(--white);
  height: 55px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 1443px;
}
.contact .download-pdf-OYANfN {
  background-color: transparent;
  color: var(--science-blue);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 18px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 14px;
  white-space: nowrap;
  width: 114px;
}
.contact .email-LT8xmI {
  background-color: transparent;
  color: var(--gunsmoke);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 240px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 150px;
}
.contact .experience-DhmS6L {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 230px;
  letter-spacing: 0.2px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1447px;
  white-space: nowrap;
  width: 200px;
}
.contact .figma-lU8hRu {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 493px;
  letter-spacing: -0.29px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 70px;
  white-space: nowrap;
  width: auto;
}
.contact .footer-transparent-1440px-DhmS6L {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  position: absolute;
  width: 1440px;
}
.contact .group-10-DhmS6L {
  background-color: transparent;
  cursor: pointer;
  height: 50px;
  left: 230px;
  position: absolute;
  top: 334px;
  width: 150px;
}
.contact .group-16-UrVAIs {
  background-color: transparent;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 3px;
  width: 16px;
}
.contact .group-2-Y87PJj {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 231px;
  position: absolute;
  top: 13px;
  width: 85px;
}
.contact .group-2-lU8hRu {
  background-color: transparent;
  height: 84px;
  left: 240px;
  position: absolute;
  top: 0px;
  width: 60px;
}
.contact .group-3-qLlrhX {
  background-color: transparent;
  height: 136px;
  left: 240px;
  position: absolute;
  top: 0px;
  width: 485px;
}
.contact .group-4-DhmS6L {
  background-color: transparent;
  height: 136px;
  left: 230px;
  position: absolute;
  top: 726px;
  width: 725px;
}
.contact .group-6-Y87PJj {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 1131px;
  position: absolute;
  top: 13px;
  width: 80px;
}
.contact .group-7-DhmS6L {
  background-color: transparent;
  height: 60px;
  left: 230px;
  position: absolute;
  top: 525px;
  width: 725px;
}
.contact .group-8-DhmS6L {
  background-color: transparent;
  height: 84px;
  left: 230px;
  position: absolute;
  top: 1222px;
  width: 661px;
}
.contact .group-9-lU8hRu {
  background-color: transparent;
  height: 84px;
  left: 359px;
  position: absolute;
  top: 0px;
  width: 62px;
}
.contact .group-MVeveB {
  background-color: transparent;
  cursor: pointer;
  height: 26px;
  left: 1070px;
  position: absolute;
  top: 13px;
  width: 138px;
}
.contact .group-lU8hRu {
  background-color: transparent;
  height: 42px;
  left: 496px;
  position: absolute;
  top: 9px;
  width: 28px;
}
.contact .group-wprszM {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 26px;
}
.contact .header-website-white-DhmS6L {
  background-color: transparent;
  height: 54px;
  position: fixed;
  top: 0px;
  width: 1442px;
}
.contact .home-MVeveB {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 502px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 13px;
  white-space: nowrap;
  width: auto;
}
.contact .home-Y87PJj {
  background-color: transparent;
  color: var(--eerie-black);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 908px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 20px;
  white-space: nowrap;
  width: auto;
}
.contact .httpswwwwatashiw-LT8xmI {
  background-color: transparent;
  color: var(--black-2);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 400px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 38px;
  white-space: nowrap;
  width: 325px;
}
.contact .info-qLlrhX {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 0px;
  letter-spacing: 0.2px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 200px;
}
.contact .junior-uiux-designe-DhmS6L {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-sfprotext-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 470px;
  letter-spacing: -0.41px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 1447px;
  white-space: nowrap;
  width: 740px;
}
.contact .junior-uiux-designe-QYcqwi {
  background-color: transparent;
  color: var(--mine-shaft);
  font-family: var(--font-family-sfprotext-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 470px;
  letter-spacing: -0.41px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 1678px;
  white-space: nowrap;
  width: 740px;
}
.contact .languages-zpyD3z {
  background-color: transparent;
  color: var(--gunsmoke);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 76px;
  white-space: nowrap;
  width: 150px;
}
.contact .love-the-remote-life-DhmS6L {
  background-color: transparent;
  color: var(--mine-shaft);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 470px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 1003px;
  width: 740px;
}
.contact .made-with-sketch-BXt2iO {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: -1px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.contact .may-2018-july-2019-DhmS6L {
  background-color: transparent;
  color: var(--gunsmoke);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 470px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1741px;
  white-space: nowrap;
  width: 740px;
}
.contact .nate-harari-DhmS6L {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: var(--font-family-sfprodisplay-semibold);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 230px;
  letter-spacing: -0.5px;
  line-height: 71px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: 980px;
}
.contact .nate-wprszM {
  background-color: transparent;
  color: var(--eerie-black);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 36px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.contact .natewatashiwanatec-LT8xmI {
  background-color: transparent;
  color: var(--black-2);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 400px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 325px;
}
.contact .native-hebrew-flue-zpyD3z {
  background-color: transparent;
  color: var(--mine-shaft);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 160px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 76px;
  white-space: nowrap;
  width: 325px;
}
.contact .oval-CiUWVv {
  background-color: transparent;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.contact .oval-Ea6WiE {
  background-color: transparent;
  height: 5px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.contact .oval-gvlMAd {
  background-color: transparent;
  height: 5px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.contact .oval-jHlvjm {
  background-color: transparent;
  height: 6px;
  left: 10px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.contact .portfolio-LT8xmI {
  background-color: transparent;
  color: var(--gunsmoke);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 240px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 38px;
  white-space: nowrap;
  width: 150px;
}
.contact .rectangle-2x2ZSY {
  background-color: #1abcfe;
  border-radius: 7px;
  height: 14px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 14px;
}
.contact .rectangle-CiUWVv {
  background-color: transparent;
  border-radius: 2.275px;
  height: 22px;
  left: 5px;
  position: absolute;
  top: -1px;
  transform: rotate(-35deg);
  width: 6px;
}
.contact .rectangle-DhmS6L {
  background-color: var(--mercury);
  border-radius: 0.5px;
  height: 1px;
  left: 230px;
  position: absolute;
  top: 1376px;
  width: 980px;
}
.contact .rectangle-Ea6WiE {
  background-color: transparent;
  border-radius: 2.275px;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.contact .rectangle-I1HLZ3 {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 14px;
}
.contact .rectangle-NV3iLu {
  background-color: var(--azure-radiance);
  border-radius: 14px;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 80px;
}
.contact .rectangle-OX1v6U {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 14px;
}
.contact .rectangle-OYANfN {
  background-color: transparent;
  border: 1px solid var(--science-blue);
  border-radius: 15px;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 150px;
}
.contact .rectangle-QYcqwi {
  background-color: var(--mercury);
  border-radius: 0.5px;
  height: 1px;
  left: 230px;
  position: absolute;
  top: 1151px;
  width: 980px;
}
.contact .rectangle-Qdvadu {
  background-color: transparent;
  height: 62px;
  left: 599px;
  position: absolute;
  top: 0px;
  width: 62px;
}
.contact .rectangle-T7FHXy {
  background-color: var(--mercury);
  border-radius: 0.5px;
  height: 1px;
  left: 230px;
  position: absolute;
  top: 454px;
  width: 980px;
}
.contact .rectangle-UBjijL {
  background-color: transparent;
  height: 62px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 62px;
}
.contact .rectangle-UrVAIs {
  background-color: var(--buttery-white);
  border-radius: 6px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.contact .rectangle-d0dP3r {
  background-color: transparent;
  height: 14px;
  left: 14px;
  position: absolute;
  top: 0px;
  width: 14px;
}
.contact .rectangle-jHlvjm {
  background-color: var(--clementine);
  border-radius: 2.275px;
  height: 19px;
  left: 10px;
  position: absolute;
  top: 1px;
  width: 6px;
}
.contact .rectangle-lU8hRu {
  background-color: transparent;
  height: 62px;
  left: 479px;
  position: absolute;
  top: 0px;
  width: 62px;
}
.contact .rectangle-oTUx9d {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 28px;
  width: 14px;
}
.contact .rectangle-px2vAk {
  background-color: var(--mercury);
  border-radius: 0.5px;
  height: 1px;
  left: 230px;
  position: absolute;
  top: 932px;
  width: 980px;
}
.contact .rectangle-tqJyG5 {
  background-color: var(--mercury);
  border-radius: 0.5px;
  height: 1px;
  left: 230px;
  position: absolute;
  top: 655px;
  width: 980px;
}
.contact .remote-israel-net-zpyD3z {
  background-color: transparent;
  color: var(--mine-shaft);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 160px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 114px;
  white-space: nowrap;
  width: 325px;
}
.contact .rill-digital-part-DhmS6L {
  background-color: transparent;
  color: var(--mine-shaft);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 470px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1480px;
  white-space: nowrap;
  width: 740px;
}
.contact .sketch-dFA7vl {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 11px;
  letter-spacing: -0.29px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 70px;
  white-space: nowrap;
  width: auto;
}
.contact .sketch-logo-2-BXt2iO {
  background-color: transparent;
  height: 26px;
  left: 112px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.contact .sketch-logo-2-dFA7vl {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 60px;
}
.contact .sketch-mac-icon-bs2x-YZOFeJ {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.contact .sketch-mac-icon-bs2x-zlqxEi {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 60px;
}
.contact .social-pro-full-ti-DhmS6L {
  background-color: transparent;
  color: var(--mine-shaft);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 470px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1711px;
  white-space: nowrap;
  width: 740px;
}
.contact .sole-designer-websi-DhmS6L {
  background-color: transparent;
  color: var(--mine-shaft);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 470px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1771px;
  width: 740px;
}
.contact .span1-PfqZeq {
  letter-spacing: 0px;
}
.contact .span2-PfqZeq {
  letter-spacing: 0px;
}
.contact .specialized-zpyD3z {
  background-color: transparent;
  color: var(--gunsmoke);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 38px;
  white-space: nowrap;
  width: 150px;
}
.contact .tools-lU8hRu {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 0px;
  letter-spacing: 0.2px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 200px;
}
.contact .uiux-designer-res-DhmS6L {
  background-color: transparent;
  color: var(--black-3);
  font-family: var(--font-family-sfprodisplay-semibold);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 230px;
  letter-spacing: 0px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 256px;
  white-space: nowrap;
  width: 980px;
}
.contact .uiux-designer-res-zpyD3z {
  background-color: transparent;
  color: var(--mine-shaft);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 160px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 325px;
}
.contact .working-as-a-junior-DhmS6L {
  background-color: transparent;
  color: var(--mine-shaft);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 470px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1540px;
  width: 740px;
}
.contact .x-3HJ3Qx {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 620px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.contact .x-AiX9aC {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 692px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.contact .x-MVeveB {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 547px;
  letter-spacing: -0.08px;
  line-height: 26px;
  position: absolute;
  text-align: right;
  top: 13px;
  white-space: nowrap;
  width: 10px;
}
.contact .x228x228-UBjijL {
  background-color: transparent;
  height: 50px;
  left: 6px;
  position: absolute;
  top: 5px;
  width: 50px;
}
.contact .xd-lU8hRu {
  background-color: transparent;
  color: #ff61f6;
  font-family: var(--font-family-sfprotext-bold);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 610px;
  letter-spacing: -0.72px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}
.contact .zeplin-UBjijL {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 14px;
  letter-spacing: -0.29px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 70px;
  white-space: nowrap;
  width: auto;
}
