/* screen - index */

.index .about-RSLJqs {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 44.86%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.36%;
}
.index .about-SSWQuM {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 24.31%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.36%;
}
.index .cases-RSLJqs {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 39.79%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.43%;
}
.index .cases-SSWQuM {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 29.44%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.43%;
}
.index .contact-RSLJqs {
  background-color: transparent;
  color: #0166cc;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  right: 47.01%;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 3.12%;
}
.index .contact-zPIvOd {
  background-color: transparent;
  color: #ffffff;
  font-family: 'SFPro-Medium', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  height: 14px;
  left: 21.25%;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 57.50%;
}
.index .copyright-2021-nat-RSLJqs {
  background-color: transparent;
  color: #00000040;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 15.83%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 16.81%;
}
.index .dock-RSLJqs {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.index .dock-SSWQuM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.index .footer-website-hite-1440px-980-IO3Fu5 {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  opacity: 1;
  position: absolute;
  width: 1440px;
}
.index .group-16-sJtMon {
  background-color: transparent;
  height: 76.92%;
  left: 19.23%;
  opacity: 1;
  position: absolute;
  top: 11.54%;
  width: 61.54%;
}
.index .group-16-z51c5i {
  background-color: transparent;
  height: 80.00%;
  left: 18.33%;
  opacity: 1;
  position: absolute;
  top: 10.00%;
  width: 63.33%;
}
.index .group-2-SSWQuM {
  background-color: transparent;
  cursor: pointer;
  height: 53.85%;
  left: 15.97%;
  opacity: 1;
  position: absolute;
  top: 23.08%;
  width: 5.90%;
}
.index .group-6-SSWQuM {
  background-color: transparent;
  cursor: pointer;
  height: 53.85%;
  opacity: 1;
  position: absolute;
  right: 15.97%;
  top: 23.08%;
  width: 5.56%;
}
.index .group-HYGMcR {
  background-color: transparent;
  height: 92.86%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 3.57%;
  width: 30.59%;
}
.index .group-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 665px;
  opacity: 1;
  position: absolute;
  top: 423px;
  width: 110px;
}
.index .group-RSLJqs {
  background-color: transparent;
  cursor: pointer;
  height: 50.00%;
  opacity: 1;
  position: absolute;
  right: 16.11%;
  top: 25.00%;
  width: 9.58%;
}
.index .header-website-transparent-IO3Fu5 {
  background-color: transparent;
  height: 52px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.index .home-RSLJqs {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 34.86%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.29%;
}
.index .home-SSWQuM {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 34.65%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.36%;
}
.index .i-design-experiences-IO3Fu5 {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFProDisplay-Semibold', Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 430px;
  letter-spacing: -0.60px;
  line-height: 68px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 237px;
  width: auto;
}
.index .learn-more-2bwwTc {
  background-color: transparent;
  color: #0166cc;
  font-family: 'SFProDisplay-Regular', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  height: 23px;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 23px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 12px);
  white-space: nowrap;
  width: 83.64%;
}
.index .made-with-sketch-dQzDhu {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 0px;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 73.91%;
}
.index .nate-HYGMcR {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFProDisplay-Semibold', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  height: 28px;
  letter-spacing: -0.10px;
  line-height: 28px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 14px);
  white-space: nowrap;
  width: 57.65%;
}
.index .nates-logo-IO3Fu5 {
  background-color: transparent;
  height: 60px;
  left: 690px;
  opacity: 1;
  position: absolute;
  top: 152px;
  width: 60px;
}
.index .next-2bwwTc {
  background-color: transparent;
  height: 14px;
  left: 96px;
  opacity: 1;
  position: absolute;
  top: 6px;
  width: 14px;
}
.index .oval-3xAYn5 {
  background-color: transparent;
  height: 11px;
  left: 25px;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 11px;
}
.index .oval-LbPICw {
  background-color: transparent;
  height: 6px;
  left: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 6px;
}
.index .oval-PogfI1 {
  background-color: transparent;
  height: 6px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 6px;
}
.index .oval-YQvvXb {
  background-color: transparent;
  height: 12px;
  left: 25px;
  opacity: 1;
  position: absolute;
  top: 34px;
  width: 11px;
}
.index .oval-ZVsS2N {
  background-color: transparent;
  height: 5px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 6px;
}
.index .oval-bXNmbq {
  background-color: transparent;
  height: 5px;
  left: 10px;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 6px;
}
.index .oval-ekU8Z6 {
  background-color: transparent;
  height: 12px;
  left: 2px;
  opacity: 1;
  position: absolute;
  top: 34px;
  width: 12px;
}
.index .oval-lZrBXZ {
  background-color: transparent;
  height: 11px;
  left: 2px;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 12px;
}
.index .rectangle-IO3Fu5 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.index .rectangle-LbPICw {
  background-color: #ea6c00;
  border: 0.5px solid #fff7ea;
  border-radius: 2.275px;
  height: 95.00%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 2.50%;
  width: 37.50%;
}
.index .rectangle-PogfI1 {
  background-color: transparent;
  border-radius: 2.275px;
  height: 110.00%;
  left: 31.25%;
  opacity: 1;
  position: absolute;
  top: -5.00%;
  transform: rotate(-35deg);
  width: 37.50%;
}
.index .rectangle-YQvvXb {
  background-color: #ea6c00;
  border: 1.2px solid #fff7ea;
  border-radius: 5.25px;
  height: 89.58%;
  opacity: 1;
  position: absolute;
  right: 5.26%;
  top: 5.21%;
  width: 28.95%;
}
.index .rectangle-ZVsS2N {
  background-color: transparent;
  border: 0.4px solid #ea6c00;
  border-radius: 2.275px;
  height: 95.00%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 2.50%;
  width: 37.50%;
}
.index .rectangle-ekU8Z6 {
  background-color: transparent;
  border-radius: 5.25px;
  height: 104.17%;
  left: 34.21%;
  opacity: 1;
  position: absolute;
  top: -2.08%;
  transform: rotate(-35deg);
  width: 31.58%;
}
.index .rectangle-lZrBXZ {
  background-color: transparent;
  border: 0.9px solid #ea6c00;
  border-radius: 5.25px;
  height: 89.58%;
  left: 5.26%;
  opacity: 1;
  position: absolute;
  top: 5.21%;
  width: 31.58%;
}
.index .rectangle-sJtMon {
  background-color: #fff7ea;
  border: 0.5px solid #f4bf97;
  border-radius: 6px;
  height: 26px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 26px;
}
.index .rectangle-z51c5i {
  background-color: #fff7ea;
  border: 1.2px solid #f4bf97;
  border-radius: 13.84615384615384px;
  height: 60px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 60px;
}
.index .rectangle-zPIvOd {
  background-color: #007aff;
  border-radius: 14px;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.index .sketch-logo-2-dQzDhu {
  background-color: transparent;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 18.84%;
}
.index .sketch-mac-icon-bs2x-xO8Hd5 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 26px;
}
.index .span1-lStqIO {
  font-style: normal;
  letter-spacing: 0.00px;
}
.index .span1-pIeTnC {
  font-style: normal;
  letter-spacing: 0.00px;
}
.index .span2-lStqIO {
  color: #f68b4c;
  font-style: normal;
  letter-spacing: 0.00px;
}
.index .span2-pIeTnC {
  color: #ea6c00;
  font-family: 'SFPro-Semibold', Helvetica;
  font-style: normal;
  font-weight: 590;
  letter-spacing: 0.00px;
}
.index .span3-lStqIO {
  font-style: normal;
  letter-spacing: 0.00px;
}
.index .span4-lStqIO {
  color: #f68b4c;
  font-style: normal;
  letter-spacing: 0.00px;
}
.index .x-PbKJKQ {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 48.19%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
.index .x-RSLJqs {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 38.12%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
.index .x-YFpMa2 {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 43.19%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
/* screen - index */

.index .about-RSLJqs {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 44.86%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.36%;
}
.index .about-SSWQuM {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 24.31%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.36%;
}
.index .cases-RSLJqs {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 39.79%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.43%;
}
.index .cases-SSWQuM {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 29.44%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.43%;
}
.index .contact-RSLJqs {
  background-color: transparent;
  color: #0166cc;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  right: 47.01%;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 3.12%;
}
.index .contact-zPIvOd {
  background-color: transparent;
  color: #ffffff;
  font-family: 'SFPro-Medium', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  height: 14px;
  left: 21.25%;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 57.50%;
}
.index .copyright-2021-nat-RSLJqs {
  background-color: transparent;
  color: #00000040;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 15.83%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 16.81%;
}
.index .dock-RSLJqs {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.index .dock-SSWQuM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.index .footer-website-hite-1440px-980-IO3Fu5 {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  opacity: 1;
  position: absolute;
  width: 1440px;
}
.index .group-16-sJtMon {
  background-color: transparent;
  height: 76.92%;
  left: 19.23%;
  opacity: 1;
  position: absolute;
  top: 11.54%;
  width: 61.54%;
}
.index .group-16-z51c5i {
  background-color: transparent;
  height: 80.00%;
  left: 18.33%;
  opacity: 1;
  position: absolute;
  top: 10.00%;
  width: 63.33%;
}
.index .group-2-SSWQuM {
  background-color: transparent;
  cursor: pointer;
  height: 53.85%;
  left: 15.97%;
  opacity: 1;
  position: absolute;
  top: 23.08%;
  width: 5.90%;
}
.index .group-6-SSWQuM {
  background-color: transparent;
  cursor: pointer;
  height: 53.85%;
  opacity: 1;
  position: absolute;
  right: 15.97%;
  top: 23.08%;
  width: 5.56%;
}
.index .group-HYGMcR {
  background-color: transparent;
  height: 92.86%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 3.57%;
  width: 30.59%;
}
.index .group-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  left: 665px;
  opacity: 1;
  position: absolute;
  top: 423px;
  width: 110px;
}
.index .group-RSLJqs {
  background-color: transparent;
  cursor: pointer;
  height: 50.00%;
  opacity: 1;
  position: absolute;
  right: 16.11%;
  top: 25.00%;
  width: 9.58%;
}
.index .header-website-transparent-IO3Fu5 {
  background-color: transparent;
  height: 52px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.index .home-RSLJqs {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 34.86%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 2.29%;
}
.index .home-SSWQuM {
  background-color: transparent;
  color: #1d1d1f;
  cursor: pointer;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 14px;
  letter-spacing: -0.05px;
  line-height: 14px;
  opacity: 1;
  position: absolute;
  right: 34.65%;
  text-align: left;
  top: calc(50.00% - 7px);
  white-space: nowrap;
  width: 2.36%;
}
.index .i-design-experiences-IO3Fu5 {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFProDisplay-Semibold', Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 430px;
  letter-spacing: -0.60px;
  line-height: 68px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 237px;
  width: auto;
}
.index .learn-more-2bwwTc {
  background-color: transparent;
  color: #0166cc;
  font-family: 'SFProDisplay-Regular', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  height: 23px;
  left: 0px;
  letter-spacing: 0.24px;
  line-height: 23px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 12px);
  white-space: nowrap;
  width: 83.64%;
}
.index .made-with-sketch-dQzDhu {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 0px;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 73.91%;
}
.index .nate-HYGMcR {
  background-color: transparent;
  color: #1d1d1f;
  font-family: 'SFProDisplay-Semibold', Helvetica;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  height: 28px;
  letter-spacing: -0.10px;
  line-height: 28px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 14px);
  white-space: nowrap;
  width: 57.65%;
}
.index .nates-logo-IO3Fu5 {
  background-color: transparent;
  height: 60px;
  left: 690px;
  opacity: 1;
  position: absolute;
  top: 152px;
  width: 60px;
}
.index .next-2bwwTc {
  background-color: transparent;
  height: 14px;
  left: 96px;
  opacity: 1;
  position: absolute;
  top: 6px;
  width: 14px;
}
.index .oval-3xAYn5 {
  background-color: transparent;
  height: 11px;
  left: 25px;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 11px;
}
.index .oval-LbPICw {
  background-color: transparent;
  height: 6px;
  left: 10px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 6px;
}
.index .oval-PogfI1 {
  background-color: transparent;
  height: 6px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 14px;
  width: 6px;
}
.index .oval-YQvvXb {
  background-color: transparent;
  height: 12px;
  left: 25px;
  opacity: 1;
  position: absolute;
  top: 34px;
  width: 11px;
}
.index .oval-ZVsS2N {
  background-color: transparent;
  height: 5px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 6px;
}
.index .oval-bXNmbq {
  background-color: transparent;
  height: 5px;
  left: 10px;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 6px;
}
.index .oval-ekU8Z6 {
  background-color: transparent;
  height: 12px;
  left: 2px;
  opacity: 1;
  position: absolute;
  top: 34px;
  width: 12px;
}
.index .oval-lZrBXZ {
  background-color: transparent;
  height: 11px;
  left: 2px;
  opacity: 1;
  position: absolute;
  top: 3px;
  width: 12px;
}
.index .rectangle-IO3Fu5 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.index .rectangle-LbPICw {
  background-color: #ea6c00;
  border: 0.5px solid #fff7ea;
  border-radius: 2.275px;
  height: 95.00%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 2.50%;
  width: 37.50%;
}
.index .rectangle-PogfI1 {
  background-color: transparent;
  border-radius: 2.275px;
  height: 110.00%;
  left: 31.25%;
  opacity: 1;
  position: absolute;
  top: -5.00%;
  transform: rotate(-35deg);
  width: 37.50%;
}
.index .rectangle-YQvvXb {
  background-color: #ea6c00;
  border: 1.2px solid #fff7ea;
  border-radius: 5.25px;
  height: 89.58%;
  opacity: 1;
  position: absolute;
  right: 5.26%;
  top: 5.21%;
  width: 28.95%;
}
.index .rectangle-ZVsS2N {
  background-color: transparent;
  border: 0.4px solid #ea6c00;
  border-radius: 2.275px;
  height: 95.00%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 2.50%;
  width: 37.50%;
}
.index .rectangle-ekU8Z6 {
  background-color: transparent;
  border-radius: 5.25px;
  height: 104.17%;
  left: 34.21%;
  opacity: 1;
  position: absolute;
  top: -2.08%;
  transform: rotate(-35deg);
  width: 31.58%;
}
.index .rectangle-lZrBXZ {
  background-color: transparent;
  border: 0.9px solid #ea6c00;
  border-radius: 5.25px;
  height: 89.58%;
  left: 5.26%;
  opacity: 1;
  position: absolute;
  top: 5.21%;
  width: 31.58%;
}
.index .rectangle-sJtMon {
  background-color: #fff7ea;
  border: 0.5px solid #f4bf97;
  border-radius: 6px;
  height: 26px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 26px;
}
.index .rectangle-z51c5i {
  background-color: #fff7ea;
  border: 1.2px solid #f4bf97;
  border-radius: 13.84615384615384px;
  height: 60px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 60px;
}
.index .rectangle-zPIvOd {
  background-color: #007aff;
  border-radius: 14px;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}
.index .sketch-logo-2-dQzDhu {
  background-color: transparent;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 18.84%;
}
.index .sketch-mac-icon-bs2x-xO8Hd5 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 26px;
}
.index .span1-lStqIO {
  font-style: normal;
  letter-spacing: 0.00px;
}
.index .span1-pIeTnC {
  font-style: normal;
  letter-spacing: 0.00px;
}
.index .span2-lStqIO {
  color: #f68b4c;
  font-style: normal;
  letter-spacing: 0.00px;
}
.index .span2-pIeTnC {
  color: #ea6c00;
  font-family: 'SFPro-Semibold', Helvetica;
  font-style: normal;
  font-weight: 590;
  letter-spacing: 0.00px;
}
.index .span3-lStqIO {
  font-style: normal;
  letter-spacing: 0.00px;
}
.index .span4-lStqIO {
  color: #f68b4c;
  font-style: normal;
  letter-spacing: 0.00px;
}
.index .x-PbKJKQ {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 48.19%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
.index .x-RSLJqs {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 38.12%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
.index .x-YFpMa2 {
  background-color: transparent;
  color: #0000001a;
  font-family: 'SFPro-Regular', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 26px;
  left: 43.19%;
  letter-spacing: -0.08px;
  line-height: 26px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: calc(50.00% - 13px);
  white-space: nowrap;
  width: 0.69%;
}
